<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<div class="col-md-3 col-xs-12">
  <%= render "layouts/nav/global_navi" %>
</div>

<!-- お知らせリスト -->
<div class="col-md-9 col-xs-12">
  <div class="row">
    <div class="col-sm-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListInfoHeading">
          <!-- スマホタイトル -->
          <h3 class="panel-title visible-xs">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseListInfo" aria-expanded="false" aria-controls="collapseListInfo">
              <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
              <%= t("common.COMMON_ANNOUNCEMENT") %>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </div>

              <!-- New表示 -->
              <% if new?(@announcements) %>
                <span class="badge">new</span>
              <% end %>
            </a>
          </h3>

          <!-- PCタイトル -->
          <h3 class="panel-title hidden-xs">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <%= t("common.COMMON_ANNOUNCEMENT") %>
          </h3>
        </div>

        <div id="collapseListInfo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListInfoHeading">
          <div class="panel-body">
            <% if @announcements.count == 0 %>
              <!-- 0件メッセージ -->
              <%= t("common.COMMON_NOTFOUND") %>
            <% else %>
              <!-- リスト表示 -->
              <table class="table table-striped table-hover table-group">
                <% @announcements.each do |announcement| %>
                  <tr>
                    <td>
                      <%= link_to announcement_path(announcement), {class: "table-group-item"} do %>
                        <%= announcement.course.course_name %>/<%= announcement.subject.truncate(10) %>&nbsp&nbsp<%=l announcement.updated_at, :format => :default %>
                        <% if announcement.new? %><span class="badge">new</span><% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>

            <!-- お知らせ一覧ボタン -->
            <div class="pull-right">
              <%= link_to announcements_path, class: "btn btn-primary" do %>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span><%= t("announcement.ANN_ANNOUNCEMENTLIST_PAGETITLE") %>
              <% end %>
            </div>
          </div>
        </div>

      </div>
    </div>

    <!-- 公開FAQリスト -->
    <div class="col-sm-6 col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListInfoHeading">
          <!-- スマホタイトル -->
          <h3 class="panel-title visible-xs">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseListFAQ" aria-expanded="false" aria-controls="collapseListFAQ">
              <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
              <%= t("common.COMMON_OPENFAQ") %>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </div>

              <!-- New表示 -->
              <% if new?(@faq_answers) %>
                <span class="badge">new</span>
              <% end %>
            </a>
          </h3>

          <!-- PCタイトル -->
          <h3 class="panel-title hidden-xs">
            <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
            <%= t("common.COMMON_OPENFAQ") %>
          </h3>
        </div>
        <div id="collapseListFAQ" class="panel-collapse collapse" role="tabpanel" aria-labelledby="collapseListFAQHeading">
          <div class="panel-body">
            <!-- 0件メッセージ -->
            <% if @faq_answers.count == 0 %>
              <!-- 0件メッセージ -->
              <%= t("common.COMMON_NOTFOUND") %>
            <% else %>
              <!-- リスト表示 -->
              <table class="table table-striped table-hover table-group">
                <% @faq_answers.each do |faq_answer| %>
                  <tr>
                    <td>
                      <%= link_to faq_path(faq_answer), {class: "table-group-item"} do %>
                        <%= faq_answer.faq.course.course_name %>/<%= faq_answer.faq.faq_title.truncate(10) %>&nbsp&nbsp<%=l faq_answer.updated_at, :format => :default %>
                        <% if faq_answer.new? %><span class="badge">new</span><% end %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </table>
            <% end %>

            <!-- 公開FAQ一覧ボタン -->
            <div class="pull-right">
              <%= link_to faqs_path, class: "btn btn-primary" do %>
                <span class="glyphicon glyphicon-list" aria-hidden="true"></span><%= t("faq.TOP_TOP_OPENFAQLIST") %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- アンカー -->
  <a id="anchor-top"></a>

  <!-- 学生としての試行画面の表示 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            <%= t("top.COMMONTOP_TRIAL") %>
            <span class="badge pull-right"><%= t("common.COMMON_HITCOURSE", :param0 => @courses.total_count.to_s(:delimited)) %></span>
          </h3>
        </div>

        <div class="panel-body">
          <p>
            <%= t("top.INSTRUCTORTOP_EXPLANATION1") %>
          </p>

          <!-- 検索フォーム -->
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= form_tag url_for({:action => 'index'}), :method => :get do %>
                  <div class="col-xs-12 col-sm-6">
                    <div class="input-group">
                      <%= text_field_tag :suggest, params[:suggest], {:class => "form-control"} %>
                      <span class="input-group-btn">
                        <%= submit_tag t("common.COMMON_SEARCH"), :name => "", :class => "btn btn-default center-block" %>
                      </span>
                    </div>
                  </div>
                  <div class="col-xs-12 col-sm-6">
                    <label><%= radio_button_tag :type, "0", true %> <%= t('common.COMMON_COURSENAME') %></label>
                    <label><%= radio_button_tag :type, "1", params[:type] == "1" %> <%= t('common.COMMON_INSTRUCTOR') %></label>
                  </div>
                <% end %>
              </div>
            </div>

            <% if @courses.count == 0 %>
              <!-- 0件メッセージ -->
              <%= t("common.COMMON_NOTFOUND") %>
            <% else %>
              <!-- リスト表示 -->
              <table class="table table-hover">
                <thead>
                  <tr class="even">
                    <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_DAY") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_HOUR") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_SCHOOLYEAR") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_SEASON") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_COURSENAME") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_INSTRUCTOR") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_MAJOR") %></th>
                    <th class="hidden-xs"><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %></th>
                    <td class="visible-xs td-bold" rowspan="3"><%= t("common.COMMON_NO1") %></td>
                    <td class="visible-xs td-bold"><%= t("common.COMMON_DAY") %></td>
                    <td class="visible-xs td-bold"><%= t("common.COMMON_HOUR") %></td>
                    <td class="visible-xs td-bold"><%= t("common.COMMON_SCHOOLYEAR") %></td>
                    <td class="visible-xs td-bold"><%= t("common.COMMON_SEASON") %></td>
                    <td class="visible-xs td-bold" rowspan="3"><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %></td>
                  </tr>
                  <tr class="visible-xs even">
                    <td class="visible-xs td-bold" colspan="4"><%= t("common.COMMON_COURSENAME") %></td>
                  </tr>
                  <tr class="visible-xs even">
                    <td class="visible-xs td-bold" colspan="2"><%= t("common.COMMON_INSTRUCTOR") %></td>
                    <td class="visible-xs td-bold" colspan="2"><%= t("common.COMMON_MAJOR") %></td>
                  </tr>
                </thead>
                <% @courses.each.with_index(@courses.offset_value + 1) do |course, index| %>
                  <tr class="<%= (index % 2) == 0 ? 'even' : 'odd' %>">
                    <!-- No. -->
                    <td class="hidden-xs"><%= index %></td>
                    <td class="visible-xs v-middle" rowspan="3"><%= index %></td>

                    <!-- 曜日 -->
                    <td class="td-nowrap"><%= convert_day_cd(course.day_cd) %></td>

                    <!-- 時限 -->
                    <td class="td-nowrap"><%= convert_hour_cd(course.hour_cd) %></td>

                    <!-- 年度 -->
                    <td class="td-nowrap"><%= course.school_year %></td>

                    <!-- 学期 -->
                    <td class="td-nowrap"><%= convert_season_cd(course.season_cd) %></td>

                    <!-- 科目名称 -->
                    <td class="hidden-xs"><%= course.course_name %></td>

                    <!-- 担任者 -->
                    <td class="td-nowrap hidden-xs"><%= course.instructor_name %></td>

                    <!-- 系・学科・コース -->
                    <td class="td-nowrap hidden-xs"><%= course.major %></td>

                    <!-- 授業実施画面へ -->
                    <td class="td-bold hidden-xs">
                      <%= link_to url_for(:controller => :class_sessions, :action => :index, :course_id => course.id), {:class => "btn btn-primary"} do %>
                        <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %>
                      <% end %>
                    </td>
                    <td class="td-bold visible-xs v-middle" rowspan="3">
                      <%= link_to url_for(:controller => :class_sessions, :action => :index, :course_id => course.id), {:class => "btn btn-primary"} do %>
                        <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %>
                      <% end %>
                    </td>
                  </tr>
                  <tr class="visible-xs <%= (index % 2) == 0 ? 'even' : 'odd' %>">
                    <!-- 科目名称 -->
                    <td class="visible-xs" colspan="4"><%= course.course_name %></td>
                  </tr>
                  <tr class="visible-xs <%= (index % 2) == 0 ? 'even' : 'odd' %>">
                    <!-- 担任者 -->
                    <td class="visible-xs" colspan="2"><%= course.instructor_name %>&nbsp;</td>

                    <!-- 系・学科・コース -->
                    <td class="visible-xs" colspan="2"><%= course.major %></td>
                  </tr>
                <% end %>
              </table>
            <% end %>

            <!-- 改ページボタン -->
            <div class="pull-right">
              <%= paginate @courses %>
            </div>
          </div>
        </div>
      </div>

      <!-- アンカーボタン -->
      <div class="pull-right">
        <a class="anchor" href="#anchor-top">
          <%= t("common.COMMON_TOP") %>
        </a>
      </div>
    </div>
  </div>

  <!--*** 登録された公開科目一覧 ***-->
  <% if @open_courses.count > 0 %>
    <!-- アンカー -->
    <a id="anchor-top2"></a>

    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              <%= t("top.COMMONTOP_OPENCOURSELIST") %>
              <span class="badge pull-right"><%= t("common.COMMON_HITCOURSE", :param0 => @open_courses.total_count.to_s(:delimited)) %></span>
            </h3>
          </div>

          <div class="panel-body">
            <table class="table table-striped table-hover">
              <tr>
                <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_DAY") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_HOUR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SCHOOLYEAR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SEASON") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_COURSENAME") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_INSTRUCTOR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_MAJOR") %></th>
                <th class="hidden-xs"><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %></th>
              </tr>
              <% @open_courses.each.with_index(@open_courses.offset_value + 1) do |course, index| %>
                <tr>
                  <!-- No. -->
                  <td><%= index %></td>
                  <!-- 曜日 -->
                  <td class="td-nowrap"><%= convert_day_cd(course.day_cd) %></td>
                  <!-- 時限 -->
                  <td class="td-nowrap"><%= convert_hour_cd(course.hour_cd) %></td>
                  <!-- 年度 -->
                  <td class="td-nowrap"><%= course.school_year %></td>
                  <!-- 学期 -->
                  <td class="td-nowrap"><%= convert_season_cd(course.season_cd) %></td>
                  <!-- 科目名称 -->
                  <td><%= course.course_name %></td>
                  <!-- 担任者 -->
                  <td class="td-nowrap"><%= course.instructor_name %></td>
                  <!-- 系・学科・コース -->
                  <td class="td-nowrap"><%= course.major %></td>
                  <!-- 授業実施画面へ -->
                  <td>
                    <%= link_to url_for(:controller => :class_sessions, :action => :index, :course_id => course.id), {:class => "btn btn-primary"} do %>
                      <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span><%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %>
                    <% end %>
                  </td>
                </tr>

              <% end %>
            </table>

            <!-- 改ページボタン -->
            <div class="pull-right">
              <%= paginate @open_courses %>
            </div>
          </div>

          <div class="pull-right">
            <a class="anchor" href="#anchor-top2">
              <%= t("common.COMMON_TOP") %>
            </a>
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
