<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :announcements %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("common.COMMON_ANNOUNCEMENT") } %>

<!-- アンカー -->
<a id="anchor-top" />

<!-- 検索 -->
<div class="row">
  <% if current_user.admin? %>
    <%= form_tag url_for({:action => :index}), :method => :get do %>
      <div class="col-xs-12 col-sm-10">
        <div class="panel panel-default">
          <div class="panel-body">
            <div class="col-xs-12 col-sm-6">
              <%= radio_button_tag :type1, "0", true %> <%= t('common.COMMON_COURSENAME') %>
              <%= radio_button_tag :type1, "1", params[:type1] == "1" %> <%= t('common.COMMON_INSTRUCTORNAME') %>
              <%= radio_button_tag :type1, "2", params[:type1] == "2" %> <%= t('common.COMMON_COURSECD') %>

              <div class="input-group">
                <%= text_field_tag :keyword, params[:keyword], {:class => "form-control"} %>
                <span class="input-group-btn">
                  <%= submit_tag t("common.COMMON_SEARCH"), :name => "", :class => "btn btn-default" %>
                </span>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6">
              <%= t("admin.course.PRI_ADM_COU_ADMINSEARCHCOURSE_SEARCHEXPLANATION") %>
              <div class="input-group">
                <div class="col-xs-3">
                  <%= t("common.COMMON_DAY") %>
                  <%= select_tag :day, options_for_select(day_list, params[:day]), {:class => "selectDay"} %>
                </div>
                <div class="col-xs-3">
                  <%= t("common.COMMON_HOUR") %>
                  <%= select_tag :hour, options_for_select(hour_list, params[:hour]), {:class => "selectHour"} %>
                </div>
                <div class="col-xs-3">
                  <%= t("common.COMMON_SCHOOLYEAR") %>
                  <%= select_tag :school_year, options_for_select(school_year_list, params[:school_year]), {:class => "selectYear"} %>
                </div>
                <div class="col-xs-3">
                  <%= t("common.COMMON_SEASON") %>
                  <%= select_tag :season, options_for_select(season_list, params[:season]), {:class => "selectSeason"} %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>

<%= render 'shared/announcements/list' %>

<!-- アンカーボタン -->
<div class="row">
  <div class="col-sm-12">
    <div class="pull-right">
      <a class="anchor" href="#anchor-top">
        <%= t("common.COMMON_TOP") %>
      </a>
    </div>
  </div>
</div>

<% if @announcements.count > 0 %>
  <!-- 改ページボタン -->
  <div class="pull-right">
    <%= paginate(@announcements) %>
  </div>
<% end %>

<!-- 閉じるボタン -->
<div class="text-center">
  <div class="btn-group">
    <%= link_to t('common.COMMON_RETURN'), root_path, class: 'btn btn-default ceas-button-margin-5' %>
  </div>
</div>
