<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :new_url_material, @generic_page %>

<%= render 'shared/error', :record => @generic_page %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("page_management.MAT_REG_MAT_PAGEMANAGEMENT_URLNEWWINDOW") } %>

<!-- 担当科目名称 -->
<%= render :partial => "shared/courses/course_name", :locals => { course: @generic_page.course } %>

<!-- 入力フォーム -->
<div class="row">
  <%= form_for :generic_page, :url => {:action => "create"}, :html => {:class => "form-horizontal"} do |form| %>
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= render 'url_form', :form => form %>
        </div>
      </div>

      <!-- ボタン -->
      <div class="text-center">
        <div class="btn-group">
          <%= form.submit t("common.COMMON_REGISTER"), class: "btn btn-primary ceas-button-margin-5" %>
          <%= link_to t("common.COMMON_RETURN"), {:action => :show, :course_id => @generic_page.course}, {:class => "btn btn-default ceas-button-margin-5"} %>
        </div>
      </div>
    </div>
    <% end %>
</div>
