<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :select_course_material, @generic_page.course %>

<!-- スマートフォンタイトル　-->
<h5 class="visible-xs visible-sm">
  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
  <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TITLEREGISTRATION_MATERIAL") %> <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TITLE_COURSE_SELECTION") %>
</h5>

<!-- 科目名 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <%= @generic_page.course.course_name %>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- 科目検索 -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t("common.COMMON_SEARCHCOURSE") %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 col-sm-6">
          <div class="input-group">
            <%= form_tag "", :method => :get do %>
              <div class="input-group">
                <%= text_field_tag "course_name", params[:course_name], class: "string required form-control" %>
                <span class="input-group-btn">
                  <%= submit_tag t("common.COMMON_SEARCH"), :name => "", :class => "btn btn-default" %>
                </span>
              </div>
              <span><%= t("common.COMMON_SEARCHCOURSEEXPLANATION") %></span>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- アンカー -->
<a id="anchor-top"></a>

<!-- コース一覧 -->
<%= form_tag url_for(:action => "copy_to", :id => @generic_page.id), {:class => "form-horizontal", :method => "post"} do %>
<div class="row" id="course_list">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t("common.COMMON_COURSETABLEALT") %>
        </h3>
      </div>
      <div class="panel-body">
        <!-- 0件メッセージ -->
        <% if @other_courses.count == 0 %>
          <p><%= t("common.COMMON_NOTFOUND") %></p>
        <% else %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                <th class="hidden-xs"><%= t("materials_registration.COMMONMATERIALSREGISTRATION_COPY") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_DAY") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_HOUR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SCHOOLYEAR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SEASON") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_COURSENAME") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_INSTRUCTOR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_MAJOR") %></th>
              </tr>
            </thead>
            <% @other_courses.each.with_index(@other_courses.offset_value + 1) do |course, index| %>
              <tr class="<%= (index % 2) == 0 ? 'even' : 'odd' %>">
                <!-- No. -->
                <td class="td-bold hidden-xs"><%= index %></td>
                <td class="visible-xs" rowspan="3">
                  <%= index %>
                  <%= check_box_tag "dest[#{course.id}]", course.id, false, {} %>
                </td>

                <!-- 確認／修正 -->
                <td class="hidden-xs"><%= check_box_tag "dest[#{course.id}]", course.id, false, {} %></td>

                <!-- 曜日 -->
                <td class="td-bold td-nowrap"><%= convert_day_cd(course.day_cd) %></td>

                <!-- 時限 -->
                <td class="td-bold td-nowrap"><%= convert_hour_cd(course.hour_cd) %></td>

                <!-- 年度 -->
                <td class="td-bold td-nowrap"><%= course.school_year %></td>

                <!-- 学期 -->
                <td class="td-bold td-nowrap"><%= convert_season_cd(course.season_cd) %></td>

                <!-- 科目名称 -->
                <td class="td-bold hidden-xs"><%= course.course_name %></td>

                <!-- 担任者 -->
                <td class="td-bold td-nowrap hidden-xs"><%= tooltip_text(course.instructor_name, 8) %></td>

                <!-- 系・学科・コース -->
                <td class="td-bold td-nowrap hidden-xs"><%= course.major %></td>
              </tr>
              <tr class="visible-xs <%= (index % 2) == 0 ? 'even' : 'odd' %>">
                <!-- 科目名称 -->
                <td class="td-bold visible-xs" colspan="5"><%= course.course_name %></td>
              </tr>
              <tr class="visible-xs <%= (index % 2) == 0 ? 'even' : 'odd' %>">
                <!-- 担任者 -->
                <td class="td-bold visible-xs" colspan="3"><%= course.instructor_name %>&nbsp;</td>

                <!-- 系・学科・コース -->
                <td class="td-bold visible-xs" colspan="2"><%= course.major %></td>
              </tr>
            <% end %>
          </table>
        <% end %>

        <% if @other_courses.count > 0 %>
          <!-- 改ページ -->
          <div class="pull-right">
            <%= paginate(@other_courses) %>
          </div>
        <% end %>
      </div>
    </div>

    <!-- アンカーボタン -->
    <div class="pull-right">
      <a class="anchor" href="#anchor-top">
        <%= t("common.COMMON_TOP") %>
      </a>
    </div>

    <!-- ボタン -->
    <div class="text-center">
      <div class="btn-group">
        <%= link_to t("common.COMMON_ALLCHECK"), "javascript:void();",
          :data => {:target => :dest, :on_title => t("common.COMMON_ALLCHECK"), :off_title => t("common.COMMON_ALLCLEAR")},
          class: "btn btn-default ceas-button-margin-5 center-block check_selector" %>
        <%= link_to t("materials_registration.COMMONMATERIALSREGISTRATION_COPY"), "javascript:void();",
          :data => {:target => :dest, :msg_confirm => t("common.COMMON_CONFIRMDELETE"), :msg_not_checked => t("common.COMMON_SELECTDELETEOBJECT")},
          class: "btn btn-primary ceas-button-margin-5 center-block multi_delete" %>
      </div>
    </div>
  </div>
</div>
<% end %>
