<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container-fluid">

  <!-- 補足説明 -->
  <div class="row">
    <div class="col-xs-12 text-right">
      <%= link_to t("common.COMMON_SUPPLEMENTATION"), {:action => :help}, {:class => "std", :target => "_new"} %>
    </div>
  </div>

  <!-- 解答欄 -->
  <div class="row">
    <div class="col-xs-12">
      <!-- 解答欄表示 -->
      <% @generic_page.parent_questions.each.with_index(1) do |parent, i| %>
        <!-- 大問タイトル -->
        <%= t("execution.COMMONMATERIALSEXECUTION_PARENTQUESTION") + i.to_s %>

        <!-- 設問 -->
        <table class="table table-striped">
          <thead>
            <tr>
              <th><%= t("execution.COMMONMATERIALSEXECUTION_QUESTION") %></th>
              <th><%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_YOURANSWER") %></th>
              <th><%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_YOURSCORE") %></th>
              <th><%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_SCORE") %></th>
              <th><%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_RANDOM") %></th>
              <th><%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_ANSWERINFULL") %></th>
            </tr>
          </thead>
          <tbody>
          <% parent.questions.each.with_index(1) do |question, j| %>
            <tr>
              <!-- 設問 -->
              <td>
                <%= j %>
              </td>
              <!-- あなたの解答 -->
              <td>
                <%= params[:answer][question.id.to_s] %>
              </td>
              <!-- 得点 -->
              <td>
                <%= @your_scores[question.id].blank? ? 0 : @your_scores[question.id] %>
              </td>
              <!-- 配点 -->
              <td>
                <%= question.score %>
              </td>
              <!-- 順不同 -->
              <td>
                <%= question.random_cd %>
              </td>
              <!-- 完全解答 -->
              <td>
                <%= question.answer_in_full_cd %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>

  <% if @generic_page.azure_video_multiplefib_explanation.present? %>
    <div class="text-center">
      <div class="btn-group">
	<%= link_to t('execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_EXPLANATION'), 'javascript:void();', class: 'btn btn-default ceas-button-margin-5', onclick: "changeFrame('question_file', '#{request.protocol}#{request.host}#{url_for(multiplefib_video_material_path(@generic_page.id))}');" %>
      </div>
    </div>
  <% elsif @generic_page.explanation_link_name.present? %>
    <div class="text-center">
      <div class="btn-group">
	<%= link_to t('execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_EXPLANATION'), 'javascript:void();', class: 'btn btn-default ceas-button-margin-5', onclick: "changeFrame('question_file', '#{request.protocol}#{request.host}#{url_for(explain_file_material_path(@generic_page.id))}');" %>
      </div>
    </div>
  <% end %>

  <!-- 結果表示 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_TOTALSCORE") %>
            <span class="pull-right">
              <%= @score.total_score %>
              <%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_SCORE2") %>
            </span>
          </h3>
        </div>

        <div class="panel-body">
          <%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_PASSGRADE", :param0 => @generic_page.pass_grade) %>
          <h5>
            <% if @score.total_score < @generic_page.pass_grade %>
              <%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_NOTPASS_html") %>
            <% else %>
              <%= t("execution.MAT_EXE_MUL_GRADEEXECUTEMULTIPLEFIB_PASS_html") %>
            <% end %>
          </h5>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="btn-group">
      <%= link_to t('common.COMMON_CLOSE2'), 'javascript:void();',
        class: 'btn btn-default ceas-button-margin-5 multifib_clear_password', data: {request_url: multiplefib_clear_password_path} %>
    </div>
  </div>
</div>

<script>
history.pushState(null, null, null);
window.addEventListener('popstate', (e) => {
  history.pushState(null, null, null);
  return;
});
</script>
