<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("execution.MAT_EXE_MUL_STARTPASSWORDMULTIPLEFIB_TITLE") } %>

<!-- 氏名、テスト/アンケートタイトル -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <!-- 科目名称　-->
          <tr>
            <td class="col-xs-4">
              <%= t("common.COMMON_COURSENAME") %>
            </td>
            <td class="col-xs-8">
              <%= @generic_page.course.course_name %>
            </td>
          </tr>

          <!-- テストタイトル　-->
          <tr>
            <td>
              <%= t("common.COMMON_SUBJECT") %>
            </td>
            <td>
              <%= @generic_page.generic_page_title %>
            </td>
          </tr>

          <!-- 氏名　-->
          <tr>
            <td>
              <%= t("common.COMMON_TARGETNAME") %>
            </td>
            <td>
              <%= current_user.user_name %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<%= form_tag url_for({:action => :password, :id => @generic_page}), :method => :post do |form| %>
<!-- ログインフォーム -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"></span>
          <%= t("execution.COMMONMATERIALSEXECUTION_EXPLANATION1") %>
        </h3>
      </div>
      <div class="panel-body">
        <div class="col-xs-12 input-group">
          <%= password_field_tag :start_pass, current_user.student? ? "" : @generic_page.start_pass, {:class => 'form-control', autocomplete: "off", :maxlength => '64'} %>
          <span class="input-group-btn">
            <%= submit_tag t("execution.COMMONMATERIALSEXECUTION_ATTESTATION"), :class => "btn btn-default" %>
          </span>
          <label class="col-xs-12">
          </label>
        </div>
        <label class="col-xs-12">
          <% unless current_user.student? %>
            <strong><%= t("execution.COMMONMATERIALSEXECUTION_EXPLANATION2") %></strong>
          <% end %>
          <strong><%= t("execution.COMMONMATERIALSEXECUTION_EXPLANATION3") %></strong>
          <strong><%= @message %></strong>
        </label>
      </div>
    </div>
  </div>
</div>
<% end %>
