  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <!-- テストタイトル　-->
            <tr>
              <td>
                <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TABLE1") %>
              </td>
              <td>
                <%= @generic_page.generic_page_title %>
              </td>
            </tr>
            <!-- 受験回数 -->
            <tr>
              <td>
                <%= t("execution.COMMONMATERIALSEXECUTION_EXAMINATIONCOUNT") %>
              </td>
              <td>
                <% if message.present? %>
                  <%== message %>
                <% else %>
                  <%= t("execution.MAT_EXE_COM_EXECUTECOMPOUND_EXECUTECOUNT", current: execution_count, total: @generic_page.max_count) %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
