<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("execution.COMMONMATERIALSEXECUTION_TITLEEXECUTIONCOMPOUND") } %>

<!-- 氏名、テスト/アンケートタイトル　-->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <% if @generic_page.self_flag != Settings.GENERICPAGE_SELFFLG_MUTUAL %>
            <tr>
              <td>
                <%= t("common.COMMON_TARGETNAME") %>
              </td>
              <td>
                <%= current_user.user_name %>
              </td>
            </tr>
          <% else %>
            <tr>
              <td>
                <%= t("execution.COMMONMATERIALSEXECUTION_MARKER") %>
              </td>
              <td>
                <%= @answer_score.self_user.user_name %>
              </td>
            </tr>
          <% end %>
          <tr>
            <td>
              <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TABLE1") %>
            </td>
            <td>
              <%= @generic_page.generic_page_title %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>




<% if @generic_page.self_flag == Settings.GENERICPAGE_SELFFLG_SELF || @generic_page.self_flag == Settings.GENERICPAGE_SELFFLG_MUTUAL || @generic_page.self_flag == Settings.GENERICPAGE_SELFFLG_MUTUAL2 %>
  <!-- 結果表示 -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_RESULT") %>
          </h3>
        </div>

        <div class="panel-body">
          <%= t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_RESULTFORM", :param0 => @total_score) %>

          <% if Settings.STUDENT.HEADER.SHOW_STUDENT_IN_TITLE %>
          <h5>
            <%= t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_EXPLANATION1") %>
          </h5>
          <% end %>

          <div class="text-center">
            <div class="btn-group">
              <% if current_user.student? %>
                <%= link_to t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_TOMATERIALRESULTVIEW"), {:controller => :results, :course_id => @generic_page.course}, :class => "btn btn-default ceas-button-margin-5" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- 説明文 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <span class="strong2"><%= t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_EXPLANATION2_html") %></span>
      </div>
    </div>
  </div>
</div>

<div class="text-center">
  <div class="btn-group">
    <%= link_to t('common.COMMON_CLOSE'), 'javascript:void();',
      class: 'btn btn-default ceas-button-margin-5 close_and_clear_password', data: {request_url: compound_clear_password_path} %>
  </div>
</div>

<script>
history.pushState(null, null, null);
window.addEventListener('popstate', (e) => {
  history.pushState(null, null, null);
  return;
});
</script>