<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("execution.COMMONMATERIALSEXECUTION_TITLEEXECUTIONCOMPOUND") } %>

<!-- 氏名、テスト/アンケートタイトル -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <!-- 氏名　-->
          <tr>
            <td class="col-xs-4">
              <%= t("common.COMMON_TARGETNAME") %>
            </td>
            <td class="col-xs-8">
              <%= current_user.user_name %>
            </td>
          </tr>

          <!-- テストタイトル　-->
          <tr>
            <td>
              <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TABLE1") %>
            </td>
            <td>
              <%= @generic_page.generic_page_title %>
            </td>
          </tr>

          <!-- ステータス　-->
          <% if @notExaminationFlg == 0 && @finish_cd == 2 %>
            <tr>
              <td>
                <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_STATUS") %>
              </td>
              <td>
                <!-- エラーメッセージ -->
                <%= @message %>
              </td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- 説明文 -->
<% if @generic_page.self_flag  == Settings.GENERICPAGE_SELFFLG_MUTUAL || @generic_page.self_flag == Settings.GENERICPAGE_SELFFLG_MUTUAL2 %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_MUTUALEXPLANATION") %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- 受験回数 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= t("execution.MAT_EXE_COM_EXECUTECOMPOUND_EXECUTECOUNT", :param0 => @latest_score.answer_count) %>
      </div>
    </div>
  </div>
</div>

<!-- 大問 -->
<%= form_tag url_for({:action => :update_self_score, :id => @generic_page}), :method => :patch do %>
<% @generic_page.parent_questions.each.with_index(1) do |parent_question, i| %>
  <div class='row'>
    <div class='col-xs-12'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <h3 class='panel-title'>
            <%= t("execution.COMMONMATERIALSEXECUTION_PARENTQUESTION") + i.to_s %>
          </h3>
        </div>
        <div class='panel-body'>
          <div class='row'>
            <div class='col-xs-12'>
              <div class='panel panel-default'>
                <div class='panel-body'>
                  <%== parent_question.content %>
                </div>
              </div>
            </div>
          </div>

          <!-- 設問 -->
          <% parent_question.questions.each.with_index(1) do |question, j| %>
          <div class='row'>
            <div class='col-xs-12'>
              <h4 class='panel_title'>
                <%= t("execution.COMMONMATERIALSEXECUTION_QUESTION") + j.to_s %>
              </h4>

              <div class='row'>
                <div class='col-xs-12'>
                  <% if question.pattern_cd == Settings.QUESTION_PATTERNCD_ESSAY %>
                    <%== question.content %>
                  <% end %>
                  <div class='panel panel-default'>
                    <div class='panel-body'>
                      <% if question.pattern_cd == Settings.QUESTION_PATTERNCD_ESSAY %>
                        <!-- 記述式 -->
                        <table class="table table-striped table-hover">
                          <tr>
                            <!-- 設問内容 -->
                            <td class="col-xs-2"><%= t("execution.COMMONMATERIALSEXECUTION_QUESTION") + j.to_s %></td>
                            <td class="col-xs-10"><span class="question_frame_right2 questionFooter5"><%== question.content %></span></td>
                          </tr>
                          <tr>
                            <!-- 正解 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_CORRECT") %></td>
                            <td class="col-xs-10"><%= convert_html(question.answer_memo) %></td>
                          </tr>
                          <tr>
                            <!-- あなたの解答 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_YOURANSWER") %></td>
                            <td class="col-xs-10"><%= compound_answer(question, @answers) %></td>
                          </tr>
                          <tr>
                            <!-- 自己採点時 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_SELFSCORE") %></td>
                            <td class="col-xs-10">
                              <span class="right">
                              <%= select_tag "score[#{question.id}]", options_for_select(get_score_list(@generic_page, question.score)), :class => "right self_score" %>
                              <span class="right"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_SCOREFORMAT", :param0 => question.score) %></span>
                            </td>
                          </tr>
                        </table>

                      <% else %>
                        <!-- 選択式の時 -->
                        <table class="table table-striped table-hover">
                          <tr>
                            <!-- 設問内容 -->
                            <td class="col-xs-2"><%= t("execution.COMMONMATERIALSEXECUTION_QUESTION") + j.to_s %></td>
                            <td class="col-xs-10"><span class="question_frame_right2 questionFooter5"><%= convert_html(question.content) %></span></td>
                          </tr>
                          <tr>
                            <!-- 正解 -->
                            <td class="col-xs-2"><%= t("common.COMMON_CORRECTANSWER") %></td>
                            <td class="col-xs-10">
                              <%== convert_html(question.correct_values.map { |value| value.content }.join("\n")) %>
                            </td>
                          </tr>
                          <tr>
                            <!-- あなたの解答 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_YOURANSWER") %></td>
                            <td class="col-xs-10">
                              <%= compound_answer(question, @answers) %>
                              <% if compound_answer_correct?(question, @answers) %>
                                <span class='badge badge-info'><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_CORRECT") %></span>
                              <% else %>
                                <span class='badge badge-important'><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_WRONG") %></span>
                              <% end %>
                            </td>
                          </tr>
                          <tr>
                            <!-- 解説 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_COMMENT") %></td>
                            <% if compound_answer_correct?(question, @answers) %>
                              <td class="col-xs-10"><%= convert_html(question.correct_answer_memo) %></td>
                            <% else %>
                              <td class="col-xs-10"><%= convert_html(question.wrong_answer_memo) %></td>
                            <% end %>
                          </tr>
                          <tr>
                            <!-- 得点と配点 -->
                            <td class="col-xs-2"><%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_GETSCORE") %></td>
                            <td class="col-xs-10">
                              <%= t("execution.MAT_EXE_COM_FINISHEXECUTECOMPOUND_RESULTFORM", :param0 => compound_answer_score(question, @answers)) %>
                              <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_SCOREFORMAT", :param0 => question.score) %>
                            </td>
                          </tr>
                        </table>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<% if @question_composition_cd == Settings.QUESTIONCOMPOSITIONCD_ESSAYONLY || @question_composition_cd == Settings.QUESTIONCOMPOSITIONCD_COMPOUND %>
  <!-- 選択式＋記述式 ボタン -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12">
            <%= text_field_tag :total_score, @total_score, {:class => "self_total_score", :size => 5, :readonly => true} %>
            <%= hidden_field_tag :hidden_multiple_score, @multiple_score %>
            <span class="totalScoreForm">
              <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_TOTALSCORE") %>
              <%= t("common.COMMON_PARANTHESISLEFT2") %>
              <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_TOTALSCORESUM") %>
              <%= t("common.COMMON_PARANTHESISRIGHT2") %>
            </span>
          </div>

          <% if @generic_page.self_flag != Settings.GENERICPAGE_SELFFLG_MUTUAL &&
                @generic_page.self_flag != Settings.GENERICPAGE_SELFFLG_MUTUAL2 %>
            <br/>
            <div class="col-xs-12">
              <%= text_field_tag :total_score_per_hundred, @total_score_per_hundred, {:class => "total_score_per_hundred", :size => 5, :readonly => true} %>
              <%= hidden_field_tag :total_point, @generic_page.get_total_point %>
              <span class="totalScoreForm">
                <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_TOTALSCORE") %>
                <%= t("common.COMMON_PARANTHESISLEFT2") %>
                <%= t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_TOTALSCOREPERHUNDRED") %>
                <%= t("common.COMMON_PARANTHESISRIGHT2") %>
              </span>
            </div>
          <% end %>
        </div>

        <!-- 採点ボタン -->
        <div class="text-center">
          <div class="btn-group">
            <% if current_user.student? %>
              <%= submit_tag t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_REGISTER"), :class => "btn btn-default ceas-button-margin-5 center-block", :data => {:confirm =>t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_JAVASCRIPT1")} %>
            <% else %>
              <%= submit_tag t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_REGISTER"), :class => "btn btn-default ceas-button-margin-5 center-block", :data => {:confirm =>t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_JAVASCRIPT3")} %>
            <% end %>
            <% if @question_composition_cd == Settings.QUESTIONCOMPOSITIONCD_COMPOUND %>
              <%= link_to t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_CANCEL"), "", {:class => "btn btn-default ceas-button-margin-5 btn_cancel_close", :data => {:confirm =>t("execution.MAT_EXE_COM_GRADEEXECUTECOMPOUND_JAVASCRIPT2")}} %>
            <% end %>
            <% if @question_composition_cd == Settings.QUESTIONCOMPOSITIONCD_MULTIPLEONLY %>
              <%= link_to t("execution.MAT_EXE_QUE_FINISHEXECUTEQUESTIONNAIRE_EXPLANATION2"), "", {:class => "btn btn-default ceas-button-margin-5", onclick: "window.close()"} %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
<% end %>

<!-- 閉じるボタン -->
<div class="text-center">
  <div class="btn-group">
    <%= link_to t('common.COMMON_CLOSE'), 'javascript:void();',
      class: 'btn btn-default ceas-button-margin-5 center-block close_and_clear_password', data: {request_url: compound_clear_password_path} %>
  </div>
</div>
