<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :admin_access_logs %>

<!-- スマートフォンタイトル　-->
<h5 class="visible-xs visible-sm">
  <span class="glyphicon glyphicon-th-large" aria-hidden="true"></span>
  <%= t("access_log.ACC_ACCESSLOG_TITLE") %>
</h5>

<%= form_tag url_for({:action => :index}), :method => :get do %>
  <!-- 検索フォーム -->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t("access_log.ACC_ACCESSLOG_TITLE") %>
          </h3>
        </div>
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <!-- 選択ログリスト -->
            <tr>
              <td>
                <div class="col-xs-12 col-sm-3">
                  <%= t("access_log.ACC_ACCESSLOG_LOGTYPE") %>
                </div>
                <div class="col-xs-12 col-sm-6">
                  <%= radio_button_tag :type, "0", true, class: "radio_log_type" %>
                  <%= label_tag "type_0", t('access_log.ACC_ACCESSLOG_NAVITEXT2'), class: "label_weight_normal" %>
                  &nbsp;&nbsp;&nbsp;&nbsp;
                  <%= radio_button_tag :type, "1", params[:type] == "1", class: "radio_log_type" %>
                  <%= label_tag "type_1", t('access_log.ACC_ACCESSLOG_NAVITEXT1'), class: "label_weight_normal" %>
                </div>
              </td>
            </tr>
            <tr style="display: <%= params[:type] == "1" ? 'block;' : 'none;' %>" class="accesslog_conditions">
              <td>
                <div class="col-xs-12 col-sm-3">
                  <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE1") %>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <%= radio_button_tag :search_type, "0", true %>
                  <%= label_tag "search_type_0", t('common.COMMON_COURSENAME'), class: "label_weight_normal" %>
                  <%= radio_button_tag :search_type, "1", params[:search_type] == "1" %>
                  <%= label_tag "search_type_1", t('common.COMMON_INSTRUCTORNAME'), class: "label_weight_normal" %>
                  <%= radio_button_tag :search_type, "2", params[:search_type] == "2" %>
                  <%= label_tag "search_type_2", t('common.COMMON_COURSECD'), class: "label_weight_normal" %>
                  <%= text_field_tag :keyword, params[:keyword], {:class => "form-control"} %>
                </div>
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-9">
                  <%= t("admin.course.PRI_ADM_COU_ADMINSEARCHCOURSE_SEARCHEXPLANATION") %>
                </div>
                <div class="col-xs-12 col-sm-3">
                </div>
                <div class="col-xs-12 col-sm-9">
                  <div class="input-group">
                    <div class="col-xs-3 col-sm-2">
                      <%= t("common.COMMON_DAY") %>
                      <%= select_tag :day, options_for_select(day_list, params[:day]), {:class => "selectDay"} %>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                      <%= t("common.COMMON_HOUR") %>
                      <%= select_tag :hour, options_for_select(hour_list, params[:hour]), {:class => "selectHour"} %>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                      <%= t("common.COMMON_SCHOOLYEAR") %>
                      <%= select_tag :school_year, options_for_select(school_year_list, params[:school_year]), {:class => "selectYear"} %>
                    </div>
                    <div class="col-xs-3 col-sm-2">
                      <%= t("common.COMMON_SEASON") %>
                      <%= select_tag :season, options_for_select(season_list, params[:season]), {:class => "selectSeason"} %>
                    </div>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 抽出期間 -->
            <tr>
              <td>
                <div class="col-xs-12 col-sm-3">
                  <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE2") %>
                </div>
                <div class="col-xs-12 col-sm-9 form-inline text-left">
                  <div class="form-group">
                    <%= text_field_tag :start_date, params[:start_date], {:class => "form-control"} %>
                    <label class="control-label">
                      <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE3") %>
                    </label>
                    <%= text_field_tag :end_date, params[:end_date], {:class => "form-control"} %>
                    <label class="control-label">
                      <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE4") %>
                      <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE5") %>
                    </label>
                  </div>
                </div>
              </td>
            </tr>
            <!-- 管理者用 -->
            <tr>
              <td>
                <div class="col-xs-12 col-sm-3">
                  <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE6") %>
                </div>
                <div class="col-xs-12 col-sm-9">
                  <%= text_field_tag :access_ip, params[:access_ip], {:class => "form-control form-text-15"} %>
                  <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE8") %>
                </div>
              </td>
            </tr>
            <!-- 権限 -->
            <tr>
              <td>
                <div class="col-xs-12 col-sm-3">
                  <%= t("access_log.ACC_ACCESSLOG_SEARCHTABLE9") %>
                </div>
                <div class="col-xs-12 col-sm-3">
                  <%= select_tag :role, options_for_select(role_list, params[:role]), {:class => "form-control"} %>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <div class="text-center">
        <div class="btn-group">
          <%= submit_tag t("common.COMMON_SEARCH"), :name => "", :class => "btn btn-default ceas-button-margin-5", onclick: "$('#output').val('');" %>
          <%= submit_tag t("common.COMMON_CSVOUTPUT"), :name => "", :class => "btn btn-default ceas-button-margin-5", onclick: "$('#output').val('csv');" %>
          <%= hidden_field_tag "output", "", id: "output" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- アンカー -->
<a id="anchor-top"></a>

<!-- 検索結果 -->
<% if @logs %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <% if params[:type] == "0" %>
              <%= t("access_log.ACC_ACCESSLOG_NAVITEXT2") %>
            <% else %>
              <%= t("access_log.ACC_ACCESSLOG_NAVITEXT1") %>
            <% end %>
          </h3>
        </div>

        <div class="panel-body">
          <% if @logs.count == 0 %>
            <p>
              <%= t("common.COMMON_NOTFOUND") %>
            </p>
          <% else %>
            <!-- システムログ -->
            <% if params[:type] == "0" %>
              <%= form_tag url_for(:action => "destroy"), {:class => "form-horizontal", :method => "delete"} do %>
                <%= hidden_field_tag "type", params[:type] %>
                <%= hidden_field_tag "start_date", params[:start_date] %>
                <%= hidden_field_tag "end_date", params[:end_date] %>
                <%= hidden_field_tag "access_ip", params[:access_ip] %>
                <%= hidden_field_tag "role", params[:role] %>
                <%= hidden_field_tag "output", "", id: "output" %>

                <table id="selectCourse:courseAdministration" class="table table-striped table-hover">
                  <tr>
                    <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_DELETE") %></th>
                    <th class="hidden-xs"><%= t("common.COMMON_TARGETNAME") %></th>
                    <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE2") %></th>
                    <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE3") %></th>
                    <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE4") %></th>
                  </tr>
                  <% @logs.each.with_index(@logs.offset_value + 1) do |log, index| %>
                    <tr>
                      <td class="td-bold"><%= index %></td>
                      <td class="td-bold"><%= check_box_tag "log[#{log.id}]", log.id, false, {} %></td>
                      <td class="td-bold"><%= h(get_name_no_prefix(log.user.name_no_prefix)) %><%= h(log.user.user_name) %></td>
                      <td class="td-bold hidden-xs"><%= l(log.created_at) %></td>
                      <td class="td-bold hidden-xs"><%= log.ip %></td>
                      <td class="td-bold hidden-xs"><%= circle_or_cross(log.result_flag) %></td>
                    </tr>
                  <% end %>
                </table>

                <div class="text-center">
                  <div class="btn-group">
                    <%= link_to t("common.COMMON_ALLCHECK"), "javascript:void();",
                      :data => {:target => :log, :on_title => t("common.COMMON_ALLCHECK"), :off_title => t("common.COMMON_ALLCLEAR")},
                      class: "btn btn-default ceas-button-margin-5 center-block check_selector" %>
                    <%= link_to t("common.COMMON_DELETE"), "javascript:void();",
                      :data => {:target => :log, :msg_confirm => t("common.COMMON_CONFIRMDELETE"), :msg_not_checked => t("common.COMMON_SELECTDELETEOBJECT")},
                      class: "btn btn-danger ceas-button-margin-5 center-block multi_delete" %>
                  </div>
                </div>
              <% end %>
            <% else %>

              <!-- 科目アクセスログ -->
              <table id="selectCourse:courseAdministration" class="table table-striped table-hover">
                <tr>
                  <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                  <th class="hidden-xs"><%= t("common.COMMON_COURSENAME") %></th>
                  <th class="hidden-xs"><%= t("common.COMMON_TARGETNAME") %></th>
                  <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE2") %></th>
                  <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE7") %></th>
                  <th class="hidden-xs"><%= t("access_log.ACC_ACCESSLOG_SEARCHRESULTTABLE3") %></th>
                </tr>
                <% @logs.each.with_index(@logs.offset_value + 1) do |log, index| %>
                  <tr>
                    <td class="td-bold"><%= index %></td>
                    <td class="td-bold"><%= h(log.course.course_name) %></td>
                    <td class="td-bold"><%= h(get_name_no_prefix(log.user.name_no_prefix)) %><%= h(log.user.user_name) %></td>
                    <td class="td-bold hidden-xs"><%= l(log.created_at) %></td>
                    <td class="td-bold hidden-xs"><%= log.access_page %></td>
                    <td class="td-bold hidden-xs"><%= log.ip %></td>
                  </tr>
                <% end %>
              </table>

            <% end %>
          <% end %>

          <!-- 改ページボタン -->
          <div class="pull-right">
            <%= paginate(@logs) %>
          </div>
        </div>
      </div>

      <!-- アンカーボタン -->
      <div class="pull-right">
        <a class="anchor" href="#anchor-top">
          <%= t("common.COMMON_TOP") %>
        </a>
      </div>
    </div>
  </div>
<% end %>
