<div class="none">
<div id="video_url"><%= @generic_page.azure_video.video_url %></div>
<div id="video_width">100%</div>
<div id="video_height">100%</div>
<div id="panel_display"><%= @generic_page.azure_video.panel? %></div>
<div id="forwarding_url"><%= @generic_page.azure_video.forwarding_url %></div>
<div id="forwarding"><%= @generic_page.azure_video.forwarding? %></div>
<div id="init_message"><%= @generic_page.azure_video.init_message %></div>
<div id="firstquartile_message"><%= @generic_page.azure_video.firstquartile_message %></div>
<div id="midpoint_message"><%= @generic_page.azure_video.midpoint_message %></div>
<div id="thirdquartile_message"><%= @generic_page.azure_video.thirdquartile_message %></div>
<div id="ended_message"><%= @generic_page.azure_video.ended_message %></div>
</div>
<p id='azure_message'></p>
