<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- 作業中科目 -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title"><%= t("common.COMMON_SELECTEDCOURSE") %></h3>
      </div>
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <tr>
            <th><%= t("common.COMMON_NO1") %></th>
            <th><%= t("common.COMMON_DAY") %></th>
            <th><%= t("common.COMMON_HOUR") %></th>
            <th><%= t("common.COMMON_SCHOOLYEAR") %></th>
            <th><%= t("common.COMMON_SEASON") %></th>
            <th><%= t("common.COMMON_COURSENAME") %></th>
            <th><%= t("common.COMMON_MAJOR") %></th>
          </tr>
          <tr>
            <td>-</td>
            <td><%= convert_day_cd(course.day_cd) %></td>
            <td><%= convert_hour_cd(course.hour_cd) %></td>
            <td><%= course.school_year %></td>
            <td><%= convert_season_cd(course.season_cd) %></td>
            <td><%= course.course_name %></td>
            <td><%= course.major %></td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>
