<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
  <% breadcrumb :questionnaire_question, @generic_page %>
<% else %>
  <% breadcrumb :question, @generic_page %>
<% end %>

<%= render 'shared/error', :record => @question %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("materials_registration.COMMONMATERIALSREGISTRATION_MAKEPARENTQUESTION") } %>

<!-- 大問作成　-->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
            <%= t("materials_registration.COMMONMATERIALSREGISTRATION_MAKEPARENTQUESTION") %>
        </h3>
      </div>

      <!-- タイトル情報　-->
      <div class="panel-body">
        <div class="row">
          <div class="col-xs-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <div class="row">
                  <div class="col-xs-12 col-sm-4">
                    <h5>
                      <%= t("common.COMMON_COURSENAME") %>
                    </h5>
                  </div>
                  <div class="col-xs-12 col-sm-8">
                    <h5>
                      <%= h(@generic_page.course.course_name) %>
                    </h5>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- 説明文 -->
        <div class="row">
          <div class="col-sm-12">
            <div class="panel panel-default">
              <div class="panel-body">
                <%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION1_html") %>
                <% if @generic_page.answer_scores.count == 0 %>
                  <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE || @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
                    <%= t("common.COMMON_BR_html") %>
                    <%= t("materials_registration.COMMONMATERIALSREGISTRATION_UPLOADQUESTIONSEXPLANATION4_html") %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <!-- 問題一括アップロードボタン表示 -->
        <div class="row">
          <div class="col-xs-12">
            <div class="text-center">
              <div class="btn-group">
                <% if @generic_page.answer_scores.count == 0 %>
                  <!-- 問題一括アップロードボタン(複合式テスト)-->
                  <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
                    <%= link_to t("materials_registration.COMMONMATERIALSREGISTRATION_QUESTION_UPLOAD"), {controller: :questions, action: :select_upload, generic_page_id: @generic_page.id}, class: "btn btn-primary ceas-button-margin-5" %>
                  <% end %>

                  <!-- 問題一括アップロードボタン(アンケート)-->
                  <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
                    <%= link_to t("materials_registration.COMMONMATERIALSREGISTRATION_QUESTION_UPLOAD"), {controller: :questions, action: :select_upload, generic_page_id: @generic_page.id}, class: "btn btn-primary ceas-button-margin-5" %>
                  <% end %>
                <% end %>
              </div>
            </div>
          </div>
        </div>

        <%= form_for :question, :url => {:action => "create_parent", :generic_page_id => @generic_page.id}, :html => {:class => "form-horizontal"} do |form| %>
          <%= render 'form_parent', :form => form %>
        <% end %>

      </div>
    </div>
  </div>
</div>

<!-- 登録済み大問一覧　-->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>
          <%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION3") %>
        </h3>
      </div>

      <div class="panel-body">
        <% if @generic_page.parent_questions.count == 0 %>
          <!-- alertメッセージ -->
          <div class="row">
            <div class="col-xs-12">
              <div class="alert alert-warning alert-dismissible" role="alert">
                <%= t("common.COMMON_NOTFOUND") %>
              </div>
            </div>
          </div>
        <% else %>
          <div class="row">
            <div class="col-xs-12">
              <div class="pull-right">
                <div class="btn-group">
                  <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE || @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
                    <%= link_to "javascript:void();",
                      {:class => "btn btn-primary ceas-button-margin-5",
                       :onclick => "openWindow3('" + url_for(:action => :confirm, :generic_page_id => @generic_page) +"', 'openFaqList', '800', '600')"} do %>
                      <%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION4") %>
                    <% end %>
                  <% end %>

                  <!-- XMLダウンロード -->
                  <%= link_to t("common.COMMON_XMLDOWNLOAD"), {action: :download, :generic_page_id => @generic_page}, class: "btn btn-primary ceas-button-margin-5", :target => "_blank" %>
                </div>
              </div>
            </div>
          </div>

          <!-- タイトル情報　-->
          <div class="row">
            <div class="col-xs-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <div class="row">
                    <div class="col-xs-12 col-sm-6">
                      <h5>
                        <%= h(@generic_page.generic_page_title) %>
                      </h5>
                    </div>
                    <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
                      <div class="col-xs-12 col-sm-6">
                        <h5>
                          <%= t("materials_registration.COMMONMATERIALSREGISTRATION_TABLE24") %>&nbsp;&nbsp;
                          <%= @generic_page.get_total_score %>
                        </h5>
                      </div>
                    <% end %>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- 説明文 -->
          <div class="row">
            <div class="col-sm-12">
              <div class="panel panel-default">
                <div class="panel-body">
                  <% if @generic_page.answer_scores.count == 0 %>
                    <%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION13_html") %>&nbsp;&nbsp;
                  <% end %>
                </div>
              </div>
            </div>
          </div>

          <!--登録済み大問一覧テーブル-->
          <table width="100%">
            <% @generic_page.parent_questions.each.with_index(1) do |parent_question, index| %>
              <tr>
                <td>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="panel panel-default">
                        <div class="panel-heading">
                          <span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span>&nbsp;&nbsp;
                          <%= t("materials_registration.COMMONMATERIALSREGISTRATION_PARENTQUESTION") + index.to_s %>&nbsp;&nbsp;
                        </div>

                        <div class="panel-body">
                          <div class="panel panel-default">
                            <div class="panel-body">
                              <%== parent_question.content %>
                            </div>

                            <div class="row">
                              <div class="col-xs-12">
                                <div class="pull-right">
                                  <div class="text-center">
                                    <div class="btn-group">
                                      <%= link_to t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION5"), {action: :edit_parent, :generic_page_id => @generic_page, id: parent_question}, class: "btn btn-default ceas-button-margin-5 center-block" %>
                                      <%= link_to t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION11"), {action: :destroy, :generic_page_id => @generic_page, parent_id: parent_question},
                                        :data => {:confirm => t("common.COMMON_CONFIRMDELETE")}, :method => :delete, class: "btn btn-danger ceas-button-margin-5 center-block" %>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <%= form_tag url_for(:action => "destroy", :generic_page_id => @generic_page, :parent_id => parent_question), {:class => "form-horizontal", :method => "delete"} do %>
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="panel panel-default">
                                <div class="panel-body">
                                  <div class="table-responsive">
                                    <% if parent_question.questions.count == 0 %>
                                      <div class='centering_block'><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION9") %></div>
                                    <% else %>
                                      <!--大問テーブル-->
                                      <table class="table table-striped table-hover<%= @generic_page.answer_scores.count == 0 ? ' sortable-question' : '' %>">
                                        <thead>
                                          <tr>
                                            <th class="hidden-xs"><%= t("common.COMMON_DELETE") %></th>
                                            <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                                            <th class="hidden-xs"><%= t("materials_registration.COMMONMATERIALSREGISTRATION_TABLE3") %></th>
                                            <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
                                              <th class="hidden-xs"><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_TABLE5") %></th>
                                            <% end %>
                                            <th class="hidden-xs"><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_TABLE3") %></th>
                                            <th class="hidden-xs"><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_TABLE4") %></th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                        <% parent_question.questions.each.with_index(1) do |question, index| %>
                                          <tr data-parent-id="<%= parent_question.id %>">
                                            <td class="td-bold">
                                              <% if @generic_page.answer_scores.count == 0 %>
                                                <%= check_box_tag "question[#{parent_question.id}][#{question.id}]", question.id, false, {} %>
                                              <% end %>
                                            </td>
                                            <td class="td-bold"><%= index %></td>
                                            <td class="td-bold">
                                              <%== question.content %>
                                              <% if @generic_page.answer_scores.count > 0 %>
                                                <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
                                                  <%= t("common.COMMON_BR_html") %><code><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_CANNOTDELETEEXAMINATION") %></code>
                                                <% elsif @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
                                                  <%= t("common.COMMON_BR_html") %><code><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_CANNOTDELETEQUESTIONNAIRE") %></code>
                                                <% end %>
                                              <% end %>
                                            </td>
                                            <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
                                              <td class="td-bold"><%= question.score %></td>
                                            <% end %>
                                            <td class="td-bold"><%= convert_pattern_cd(question.pattern_cd) %></td>
                                            <td class="td-bold">
                                              <div class="image_block_button3">
                                                <%= link_to t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_TABLE4"), {action: :edit, :generic_page_id => @generic_page, id: question}, class: "btn btn-warning ceas-button-margin-5" %>
                                              </div>
                                            </td>
                                          </tr>
                                        <% end %>
                                        </tbody>
                                      </table>
                                    <% end %>

                                    <div class="col-xs-12">
                                      <div id="order_message_<%= parent_question.id %>" style="display: none"><%= t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION14") %></div>
                                      <% if parent_question.questions.count > 0 %>
                                        <span id="order_update_<%= parent_question.id %>" style="display: none">
                                          <%= link_to t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_TABLE6"), "#",
                                            :data => {:target => "question[#{parent_question.id}]"}, class: "btn btn-primary ceas-button-margin-5 btn_order_update" %>
                                        </span>
                                        <%= link_to t("common.COMMON_ALLCHECK"), "javascript:void();",
                                          :data => {:target => "question[#{parent_question.id}]", :on_title => t("common.COMMON_ALLCHECK"), :off_title => t("common.COMMON_ALLCLEAR")},
                                          class: "btn btn-primary ceas-button-margin-5 check_selector" %>
                                        <%= link_to t("common.COMMON_DELETE"), "javascript:void();",
                                          :data => {:target => "question[#{parent_question.id}]", :msg_confirm => t("common.COMMON_CONFIRMDELETE"), :msg_not_checked => t("common.COMMON_SELECTDELETEOBJECT")},
                                          class: "btn btn-danger ceas-button-margin-5 multi_delete" %>
                                      <% end %>

                                      <div class="pull-right">
                                        <div class="text-center">
                                          <div class="btn-group">
                                            <%= link_to t("materials_registration.MAT_REG_REGISTERPARENTQUESTION_EXPLANATION6"), {action: :new, :generic_page_id => @generic_page, parent_id: parent_question}, class: "btn btn-primary ceas-button-margin-5 center-block" %>
                                          </div>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <% end %>
                        </div>
                      </div>
                    </div>
                  </div>
                </td>
              </tr>
            <% end %>
          </table>
        <% end %>
      </div>
    </div>
  </div>

  <div class="text-center">
    <div class="btn-group">
      <% if @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_COMPOUNDCODE %>
        <%= link_to t("common.COMMON_RETURN"), {:controller => :compounds, :action => :show, :course_id => @generic_page.course}, {:class => "btn btn-default ceas-button-margin-5 center-block"} %>
      <% elsif @generic_page.type_cd == Settings.GENERICPAGE_TYPECD_QUESTIONNAIRECODE %>
        <%= link_to t("common.COMMON_RETURN"), {:controller => :questionnaires, :action => :show, :course_id => @generic_page.course}, {:class => "btn btn-default ceas-button-margin-5 center-block"} %>
      <% end %>
    </div>
  </div>
</div>
