<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<%= javascript_include_tag 'admin/attendanceAdministration' %>

<% breadcrumb :combined_records %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_UPLOAD_TITLE") } %>

<!-- 科目名 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <%= @course.course_name %>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- 説明文 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION1") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION2") %><br/><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION3") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION4") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION5") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION6_html") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION7") %><br/>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION8_html") %>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION9") %>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION14") %>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION12") %>
        <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_EXPLANATION13") %>
      </div>
    </div>
  </div>
</div>

<!-- 入力フォーム -->
<%= form_tag url_for({:action => :update_file, :course_id => @course.id, :class_session_count => @class_session_count, :attendance_count => @attendance_count}), :method => :patch do %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <tr>
              <td>
                <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_OVERWRITE") %>
              </td>
              <td>
              </td>
            </tr>
          </table>
        </div>
      </div>

      <!-- アップロードボタン -->
      <div class="text-center">
        <div class="btn-group">
          <%= submit_tag t("common.COMMON_REGISTER"), :name => "", :class => "btn btn-primary ceas-button-margin-5", :data => {:confirm => t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_CONFIRM")} %>
          <%= link_to t("common.COMMON_RETURN"), :back, {:class => "btn btn-default ceas-button-margin-5"} %>
        </div>
      </div>
    </div>
  </div>

  <!-- アンカー -->
  <a id="anchor-top"></a>

  <!-- 一覧テーブル -->
  <div class="row">
    <div class="col-sm-12">
      <div class="explanation_text">
        <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_ATTENDANCEDATACDEXPLANATION") %>
      </div>
      <table class="table table-striped table-hover">
        <tr>
          <td class="col-xs-4">
            <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_COLUMNCLASSSESSIONNO") %>
          </td>
          <td class="col-xs-8">
            <%= class_session_name(@class_session_count) %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_COLUMNATTENDANCECOUNTNO") %>
          </td>
          <td>
            <%= @attendance_count %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_TOTAL_NUM") %>1
          </td>
          <td>
            <%= @results["all"] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_COLUMNATTENDANCE") %>
          </td>
          <td>
            <%= @results[1] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_COLUMNLATE") %>2
          </td>
          <td>
            <%= @results[2] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.COMMONATTENDANCEADMINISTRATION_COLUMNABSENT") %>
          </td>
          <td>
            <%= @results[3] %>
          </td>
        </tr>
        <tr>
          <td>
            <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_UNKNOWN_NUM") %>
          </td>
          <td>
            <%= @results[0] %>
          </td>
        </tr>

        <tr>
          <table class="table table-hover">
            <% @success.each.with_index(1) do |(user_id, success), index| %>
              <tr<% if success["new_status"] == -1 %> class="tr_color_gray"<% end %>>
                <td class="col-xs-4">
                  <%= index %>
                </td>
                <td class="col-xs-4">
                  <% if success["new_status"] == -1 %>
                    <code>
                  <% end %>
                  <%= success["user_name"] %>
                  <% if success["new_status"] == -1 %>
                    </code>
                  <% end %>
                </td>
                <td class="col-xs-4">
                  <%= select_tag "attendance_data[#{user_id}]", options_for_select(attendance_options(), :selected => success["new_status"]) %>
                  <% if success["status"] != success["new_status"] && success["new_status"] != -1 %>
                    <code>
                      <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_CHANGE") %>
                    </code>
                  <% end %>
                </td>
              </tr>
            <% end %>
          </table>
        </tr>
      </table>
    </div>
  </div>

  <!-- 解析結果　-->
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-body">
          <table class="table table-striped table-hover">
            <tr>
              <td>
                <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_ERROR_NUM") %>
              </td>
              <td>
                <%= t("common.COMMON_NUM", :param0 => @results["status_error"]) %>
              </td>
            </tr>
            <tr>
              <td>
                <%= t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_UNAVAILABLE_NUM") %>
              </td>
              <td>
                <% if @results["error"] == 0 %>
                  <%= t("common.COMMON_NUM", :param0 => 0) %>
                <% else %>
                  <%= t("common.COMMON_NUM", :param0 => @results["error"]) %>
                  <%= link_to t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_UNAVALIABLE_LIST"), {:action => :upload_error, :course_id => @course.id, :class_session_count => @class_session_count, :attendance_count => @attendance_count}, :class => "btn btn-default", :target => "_blank" %>
                <% end %>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>

    <!-- アンカーボタン -->
    <div class="pull-right">
      <a class="anchor" href="#anchor-top">
        <%= t("common.COMMON_TOP") %>
      </a>
    </div>
  </div>

  <!-- ボタン -->
  <div class="text-center">
    <div class="btn-group">
      <%= submit_tag t("common.COMMON_REGISTER"), :name => "", :class => "btn btn-primary ceas-button-margin-5", :data => {:confirm => t("attendanceAdministration.ATT_ADM_CLASSSESSIONATTENDANCE_CSV_REGIST_CONFIRM")} %>
      <%= link_to t("common.COMMON_RETURN"), :back, {:class => "btn btn-default ceas-button-margin-5 center-block"} %>
    </div>
  </div>
<% end %>
