<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- レビュー画面では表示しない -->
<!-- breadcrumb -->
<% breadcrumb :class_sessions %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("class_session_execution.CLA_CLASSSESSIONEXECUTION_CLASSSESSIONLIST") } %>

<!-- アンカー -->
<a id="anchor-top"></a>

<!-- レビュー画面では表示しない -->
<!-- 授業リスト -->
<div class="col-md-4 col-xs-12">
  <%= render 'class_session_list' %>
</div>

<div class="col-xs-12 col-md-8">
  <% if Settings.STUDENT.CLASS_SESSION.SHOW_COURSE_DETAIL %>
  <!-- 現在の授業回（タイトル）表示 -->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseClassSessionAllocationHeading">
          <!-- スマホタイトル -->
          <h3 class="panel-title visible-xs visible-sm">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseClassSessionAllocation" aria-expanded="false" aria-controls="collapseClassSessionAllocation">
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              <%= @course.course_name %>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </div>
            </a>
          </h3>
          <!-- PCタイトル -->
          <h3 class="panel-title hidden-xs hidden-sm">
            <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
            <%= @course.course_name %>
          </h3>
        </div>
        <div id="collapseClassSessionAllocation" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseClassSessionAllocationHeading">
          <div class="panel-body">
            <table class="table table-striped table-hover ">
              <tbody>
                <!--担任者名-->
                <tr>
                  <th><%= t("common.COMMON_INSTRUCTORNAME") %></th>
                  <th><%= @course.instructor_name %></th>
                </tr>

                <!--系・学科・コース-->
                <tr>
                  <th><%= t("common.COMMON_MAJOR") %></th>
                  <th><%= @course.major %></th>
                </tr>

                <!--年度-->
                <tr>
                  <th><%= t("common.COMMON_SCHOOLYEAR") %></th>
                  <th><%= @course.school_year %></th>
                </tr>

                <!--学期-->
                <tr>
                  <th><%= t("common.COMMON_SEASON") %></th>
                  <th><%= convert_season_cd(@course.season_cd) %></th>
                </tr>

                <!--曜日-->
                <tr>
                  <th><%= t("common.COMMON_DAY") %></th>
                  <th><%= convert_day_cd(@course.day_cd) %></th>
                </tr>

                <!--時限-->
                <tr>
                  <th><%= t("common.COMMON_HOUR") %></th>
                  <th><%= convert_hour_cd(@course.hour_cd) %></th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
  <% end %>

  <!--　科目概要　　パネル表示　-->
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseClassSessionDetailConverterHeading">
          <!-- スマホタイトル -->
          <h3 class="panel-title visible-xs visible-sm">
            <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseClassSessionDetailConverter" aria-expanded="false" aria-controls="collapseClassSessionDetailConverter">
              <span class="glyphicon glyphicon-education" aria-hidden="true"></span>
              <%= t("common.COMMON_COURSEOUTLINE") %>
              <div class="pull-right">
                <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
              </div>
            </a>
          </h3>

          <!-- PCタイトル -->
          <h3 class="panel-title hidden-xs hidden-sm">
            <span class="glyphicon glyphicon-book" aria-hidden="true"></span>
            <%= t("common.COMMON_COURSEOUTLINE") %>
          </h3>
        </div>
        <div id="collapseClassSessionDetailConverter" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseClassSessionDetailConverterHeading">
          <div class="panel-body">
            <p>
              <%== @course.overview %>
            </P>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- 割り付けられた教材一覧 -->
  <div class="row">
    <% 0.upto(@course.class_session_count) do |index| %>
      <% session = @class_sessions[index] %>
      <% if session && session.assigned_generic_pages.count > 0 %>
        <div class="col-sm-12">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="collapseClassSessionDetail_<%= index %>Heading">
              <h3 class="panel-title visible-xs visible-sm">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseClassSessionDetail_<%= index %>" aria-expanded="false" aria-controls="collapseClassSessionDetail_<%= index %>">
                  <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                  <% if session.class_session_no == 0 %>
                    <%= t("class_session_execution.CLA_CLASSSESSIONEXECUTION_COUNT0") %>
                  <% else %>
                    <%= session.class_session_day %>
                  <% end %>
                  <div class="pull-right">
                    <span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
                  </div>
                </a>
              </h3>
              <h3 class="panel-title hidden-xs hidden-sm">
                  <span class="glyphicon glyphicon-blackboard" aria-hidden="true"></span>
                  <% if session.class_session_no == 0 %>
                    <%= t("class_session_execution.CLA_CLASSSESSIONEXECUTION_COUNT0") %>
                  <% else %>
                    <%= session.class_session_day %>
                  <% end %>
              </h3>
            </div>

            <div id="collapseClassSessionDetail_<%= index %>" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="collapseClassSessionDetail_<%= index %>_Heading">
              <div class="panel-body">
                <ul class="list-group">
                  <!-- 授業資料 -->
                  <% if session.assigned_materials? %>
                    <% session.materials.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "siryo.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- URL教材資料 -->
                  <% if session.assigned_urls? %>
                    <% session.urls.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "url.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- アンケート一覧 -->
                  <% if session.assigned_questionnaires? %>
                    <% session.questionnaires.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "repo.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- 複合式テスト一覧 -->
                  <% if session.assigned_componds? %>
                    <% session.componds.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "test.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- 記号入力式テスト一覧 -->
                  <% if session.assigned_multiplefibs? %>
                    <% session.multiplefibs.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "test.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- レポート一覧 -->
                  <% if session.assigned_essays? %>
                    <% session.essays.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "repo.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                  <!-- 評価記入リスト一覧 -->
                  <% if session.assigned_evaluations? %>
                    <% session.evaluations.each do |generic_page| %>
                      <li class="list-group-item">
                        <%= image_tag "eva.gif" %>
                        <%= generic_page.generic_page_title %>
                      </li>
                    <% end %>
                  <% end %>
                </ul>
                <div class="pull-right">
                  <%= link_to url_for(:action => :show, :course_id => @course.id, :session_no => index), :class => "btn btn-primary" do %>
                    <span class='glyphicon glyphicon-blackboard' aria-hidden='true'></span>
                    <%= t("top.COMMONTOP_CLASSSESSIONEXECUTION") %>
                  <% end %>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

</div>
