<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("execution.COMMONMATERIALSEXECUTION_TITLEEXECUTIONQUESTIONNAIRE") } %>

<!-- 氏名、テスト/アンケートタイトル -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <table class="table table-striped table-hover">
          <!-- テストタイトル　-->
          <tr>
            <td>
              <%= t("common.COMMON_SUBJECT") %>
            </td>
            <td>
              <%= @generic_page.generic_page_title %>
            </td>
          </tr>

          <!-- ステータス -->
          <tr>
            <td>
              <%= t("execution.MAT_EXE_ASS_EXECUTEASSIGNMENTESSAY_STATUS") %>
            </td>
            <td>
              <%= questionnaire_status(@generic_page) %>
              <% if @generic_page.start_time.blank? %>
                <p><%= t("execution.MAT_EXE_QUE_ERROREXECUTEQUESTIONNAIRE_ALREADYPASSEDENDTIME_html", :param0 => l(@generic_page.end_time)) %></p>
              <% else %>
                <p><%= t("execution.MAT_EXE_QUE_ERROREXECUTEQUESTIONNAIRE_INVALIDTERM_html", :param0 => l(@generic_page.start_time), :param1 => l(@generic_page.end_time)) %></p>
              <% end %>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</div>

<!-- 閉じるボタン -->
<div class="text-center">
  <div class="btn-group">
    <%= link_to t('common.COMMON_CLOSE'), 'javascript:void();', class: 'btn btn-default ceas-button-margin-5 center-block', onclick: 'closeWindow(); return false;' %>
  </div>
</div>
