<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<!-- ログインフォーム -->
<div class="row">
  <div class="col-xs-12">
    <% if Settings.CAS_AUTHENTICATION %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12 text-center">
            <p>
              <%=t "login.LOG_LOGIN_EXPLANATION1_CAS" %>
            <br/>
            </p>
          </div>
          <div class="col-sm-2 col-sm-offset-5 text-center">
            <%= link_to t('login.COMMONLOGIN_LOGIN'), user_cas_omniauth_authorize_path, class: "btn btn-primary btn-block" %>
           </div>
          <div class="col-sm-12 text-center">
            <%= image_tag "openceas_qrcode.png", class: "hidden-xs hidden-sm" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if Settings.AZUREAD_AUTHENTICATION %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12 text-center">
            <p>
              <%=t "login.LOG_LOGIN_EXPLANATION1_CAS" %>
            <br/>
            </p>
          </div>
          <div class="col-sm-2 col-sm-offset-5 text-center">
            <%= link_to t('login.COMMONLOGIN_LOGIN'), user_azure_activedirectory_v2_omniauth_authorize_path, class: "btn btn-primary btn-block" %>
           </div>
          <div class="col-sm-12 text-center">
            <%= image_tag "openceas_qrcode.png", class: "hidden-xs hidden-sm" %>
          </div>
        </div>
      </div>
    <% end %>

    <% if Settings.SAML_AUTHENTICATION %>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-sm-12 text-center">
            <p>
              <%=t "login.LOG_LOGIN_EXPLANATION1_CAS" %>
            <br/>
            </p>
          </div>
          <div class="col-sm-2 col-sm-offset-5 text-center">
            <%= link_to t('login.COMMONLOGIN_LOGIN'), user_azure_activedirectory_v2_omniauth_authorize_path, class: "btn btn-primary btn-block" %>
           </div>
          <div class="col-sm-12 text-center">
            <%= image_tag "openceas_qrcode.png", class: "hidden-xs hidden-sm" %>
          </div>
        </div>
      </div>
    <% end %>

    <div class="panel panel-default">
      <div class="panel-body">
        <% if Settings.CAS_AUTHENTICATION || Settings.AZUREAD_AUTHENTICATION %>
          <div class="col-sm-12 text-center">
            <p><%=t "login.LOG_LOGIN_MESSAGE" %></p>

            <a href="#local-login" data-toggle="modal"><%= t('login.COMMONLOGIN_LOGIN') %></a>
            <!-- ローカルログインリンクでログインフォームをモーダル表示-->
            <!-- ログインモーダルここから -->
            <div class="modal" id="local-login" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
              <div class="modal-dialog modal-lg modal-dialog-center">
                <div class="modal-content text-left">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h6 class="modal-title">
                      <span id="" class="explanation_text"><%= t('login.COMMONLOGIN_LOGIN') %></span>
                    </h6>
                  </div>
                  <div class="modal-body">
                    <div class="row">

                      <%= form_for(resource, url: sign_in_path) do |f| %>
                        <div class="input-group">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-user"></span>
                            <%= t('login.LOG_LOGIN_ID') %>
                          </span>
                          <%= f.text_field :account, autofocus: true, :class => "form-control" %>
                        </div>
                        <label class="col-xs-12">
                          <%= t('login.LOG_LOGIN_IDEXAMPLE') %>
                        </label>

                        <br />

                        <div class="input-group">
                          <span class="input-group-addon">
                            <span class="glyphicon glyphicon-lock"></span>
                            <%= t('login.LOG_LOGIN_PASSWORD') %>
                          </span>
                          <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                        </div>
                        <label class="col-xs-12">
                          <%= t('login.LOG_LOGIN_PASSWORDEXAMPLE') %>
                        </label>

                        <br />

                        <div class="form-group">
                          <div class="pull-right">
                            <div class="col-xs-12 col-sm-8  col-md-6">
                              <%= f.submit t('login.COMMONLOGIN_LOGIN'), :class => "btn btn-primary" %>
                            </div>
                          </div>
                        </div>
                      <% end %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- ログインモーダルここまで -->
          </div>
        <% else %>
          <div class="col-md-3 col-sm-2">
          </div>
          <div class="col-md-6 col-sm-8 col-xs-12">
            <%= form_for(resource, url: sign_in_path) do |f| %>
              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-user"></span>
                  <%= t('login.LOG_LOGIN_ID') %>
                </span>
                <%= f.text_field :account, autofocus: true, :class => "form-control" %>
              </div>
              <label class="col-xs-12">
                <%= t('login.LOG_LOGIN_IDEXAMPLE') %>
              </label>

              <br />

              <div class="input-group">
                <span class="input-group-addon">
                  <span class="glyphicon glyphicon-lock"></span>
                  <%= t('login.LOG_LOGIN_PASSWORD') %>
                </span>
                <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
              </div>
              <label class="col-xs-12">
                <%= t('login.LOG_LOGIN_PASSWORDEXAMPLE') %>
              </label>

              <br />

              <div class="form-group">
                <div class="pull-right">
                  <div class="col-xs-12 col-sm-8  col-md-6">
                    <%= f.submit t('login.COMMONLOGIN_LOGIN'), :class => "btn btn-primary" %>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<!-- お知らせリスト -->
<% if GeneralAnnouncement::get_top_announcements.count > 0 %>
  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading" role="tab" id="collapseListInfoHeading">
          <!-- タイトル -->
          <h3 class="panel-title">
            <span class="glyphicon glyphicon-bullhorn" aria-hidden="true"></span>
            <%= t("login.LOG_LOGIN_INFOMATION") %>
          </h3>
        </div>

        <div class="panel-body">
          <!-- リスト表示 -->
          <div class="list-group">
            <% GeneralAnnouncement::get_top_announcements.each do |general_announcement| %>
              <%= link_to general_announcement_path(general_announcement), {class: "list-group-item", target: "_blank"} do %>
                <%= general_announcement.title %>(<%=l general_announcement.created_at %>)<% if general_announcement.new? %><span class="badge">new</span><% end %>
              <% end %>
            <% end %>
          </div>

          <!-- お知らせ一覧ボタン -->
          <div class="pull-right">
            <%= link_to general_announcements_path, {class: "btn btn-primary", target: "_blank"} do %>
              <span class="glyphicon glyphicon-list"></span><%= t("login.LOG_LOGIN_INFOMATION_LIST") %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
