<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :teacher_edit_faq, @faq %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("faq.COMMONFAQ_NAVI") } %>

<%= render 'shared/error', :record => @faq %>

<!-- 科目名称 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <%= @faq.course.course_name %>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- 説明文 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <h5>
          <% if @faq.response_flag != Settings.FAQ_RESPONSEFLG_REPLIED %>
            <%= t("faq.FAQ_ANSWERFAQ_NOTANSWEREXPLANATION1") %>
            <br><%= t("faq.FAQ_ANSWERFAQ_NOTANSWEREXPLANATION2") %>
            <br><%= t("faq.FAQ_ANSWERFAQ_NOTANSWEREXPLANATION3") %>
          <% elsif @faq.open_flag == Settings.FAQ_OPENFLG_PUBLIC %>
            <%= t("faq.FAQ_ANSWERFAQ_OPENEXPLANATION1") %>
            <br><%= t("faq.FAQ_ANSWERFAQ_OPENEXPLANATION2") %>
            <br><%= t("faq.FAQ_ANSWERFAQ_OPENEXPLANATION3") %>
          <% else %>
            <%= t("faq.FAQ_ANSWERFAQ_CLOSEDEXPLANATION1") %>
            <br><%= t("faq.FAQ_ANSWERFAQ_CLOSEDEXPLANATION2") %>
          <% end %>
        </h5>
      </div>
    </div>
  </div>
</div>

<!-- アンカー -->
<a id="anchor-top"></a>

<%= form_for :faq, :url => {:action => "confirm", :id => @faq}, :html => {:class => "form-horizontal"} do |form| %>
<!-- 入力フォーム -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
          <%= t("faq.COMMONFAQ_IMAGEALT") %>
        </h3>
      </div>

      <div class="panel-body">
        <table class="table table-striped table-hover">
          <!-- 質問投稿日 -->
          <tr>
            <td class="col-xs-4">
              <%= t("faq.FAQ_ANSWERFAQ_CONTRIBUTEDATE") %>
            </td>
            <td class="col-xs-8">
              <%= l(@faq.created_at) %>
            </td>
          </tr>

          <!-- 質問投稿者氏名 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_CONTRIBUTOR") %>
            </td>
            <td>
              <%= get_name_no_prefix(@faq.user.name_no_prefix) %>
              <%= @faq.user.user_name %>
              <%= link_to current_user.get_user_image(UserImage::IMAGE_TYPE_EXPRESSION), :target => "_blank" do %>
                <%= image_tag current_user.get_user_image(UserImage::IMAGE_TYPE_ICON), :width => "20x20", :alt => '' %>
              <% end %>
            </td>
          </tr>

          <!-- メールアドレス -->
          <tr>
            <td>
              <%= t("common.COMMON_MAIL") %>
            </td>
            <td>
              <%= @faq.user.email %>
            </td>
          </tr>

          <!-- タイトル -->
          <tr>
            <td>
              <%= t("common.COMMON_SUBJECT") %>
            </td>
            <td>
              <%= @faq.faq_title %>
            </td>
          </tr>

          <!-- 質問内容 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_QUESTIONCONTENT") %>
            </td>
            <td>
              <%== convert_html(@faq.question) %>
            </td>
          </tr>

          <!-- 回答日 -->
          <tr>
            <td>
              <%= t("faq.FAQ_ANSWERFAQ_ANSWERDATE") %>
            </td>
            <td>
              <%= @faq.faq_answer ? l(@faq.faq_answer.created_at) : l(Time.zone.now) %>
            </td>
          </tr>

          <!-- 更新日 -->
          <tr>
            <td>
              <%= t("faq.FAQ_ANSWERFAQ_UPDATEDATE") %>
            </td>
            <td>
              <%= @faq.faq_answer ? l(@faq.faq_answer.updated_at) : l(Time.zone.now) %>
            </td>
          </tr>

          <!-- 返信タイトル -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_REPLYSUBJECT") %>
              <% if @faq.response_flag == Settings.FAQ_RESPONSEFLG_UNREPLY %>
                <span class='badge badge-essencial'>
                  <%= t("common.COMMON_ESSENCIAL") %>
                </span>
              <% end %>
            </td>
            <td>
              <%= hidden_field_tag "faq[faq_answer_attributes][id]", @faq.faq_answer_attributes["id"] %>
              <% if @faq.response_flag == Settings.FAQ_RESPONSEFLG_REPLIED %>
                <%= @faq.faq_answer["answer_title"] %>
                <%= hidden_field_tag "faq[faq_answer_attributes][answer_title]", @faq.faq_answer_attributes["answer_title"] %>
              <% else %>
                <%= text_field_tag "faq[faq_answer_attributes][answer_title]", @faq.faq_answer_attributes["answer_title"], {:class => 'form-control', :maxlength => 128} %>
              <% end %>
            </td>
          </tr>

          <!-- 回答内容 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_ANSWERCONTENT") %>
              <% if @faq.response_flag == Settings.FAQ_RESPONSEFLG_UNREPLY %>
                <span class='badge badge-essencial'>
                  <%= t("common.COMMON_ESSENCIAL") %>
                </span>
              <% end %>
            </td>
            <td>
              <% if @faq.response_flag == Settings.FAQ_RESPONSEFLG_REPLIED %>
                <%= @faq.faq_answer.answer %>
                <%= hidden_field_tag "faq[faq_answer_attributes][answer]", @faq.faq_answer_attributes["answer"] %>
              <% else %>
                <%= text_area_tag "faq[faq_answer_attributes][answer]", @faq.faq_answer_attributes["answer"], {:class => 'form-control', :rows => 10} %>
              <% end %>
            </td>
          </tr>

          <!-- 回答者 -->
          <% if @faq.response_flag == Settings.FAQ_RESPONSEFLG_REPLIED %>
            <tr>
              <td>
                <%= t("faq.COMMONFAQ_ANSWERER") %>
              </td>
              <td>
                <%== @faq.faq_answerer %>
              </td>
            </tr>
          <% end %>

          <!-- 公開用質問内容 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_OPENQUESTION") %>
            </td>
            <td>
              <%= text_area_tag "faq[faq_answer_attributes][open_question]", @faq.faq_answer_attributes["open_question"], {:class => 'form-control', :rows => 10} %>
            </td>
          </tr>

          <!-- 公開用回答内容 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_OPENANSWER") %>
            </td>
            <td>
              <%= text_area_tag "faq[faq_answer_attributes][open_answer]", @faq.faq_answer_attributes["open_answer"], {:class => 'form-control', :rows => 10} %>
            </td>
          </tr>

          <!-- FAQ公開 -->
          <tr>
            <td>
              <%= t("faq.COMMONFAQ_FAQOPEN") %>
            </td>
            <td>
              <%= form.radio_button :open_flag, Settings.FAQ_OPENFLG_PRIVATE.to_s %> <%= t('faq.FAQ_ANSWERFAQ_CLOSED') %>
              <%= form.radio_button :open_flag, Settings.FAQ_OPENFLG_PUBLIC.to_s %> <%= t('faq.COMMONFAQ_OPEN') %>
            </td>
          </tr>
        </table>
      </div>
    </div>

    <!-- アンカーボタン -->
    <div class="pull-right">
      <a class="anchor" href="#anchor-top">
        <%= t("common.COMMON_TOP") %>
      </a>
    </div>

    <!-- ボタン -->
    <div class="text-center">
      <div class="btn-group">
        <% if @faq.open_flag == Settings.FAQ_OPENFLG_PUBLIC %>
        <%= form.submit t("common.COMMON_EDIT"), class: "btn btn-default ceas-button-margin-5 center-block" %>
        <% else %>
        <%= form.submit t("common.COMMON_CONFIRM"), class: "btn btn-default ceas-button-margin-5 center-block" %>
        <% end %>
        <%= form.button t("common.COMMON_CANCEL"), {:class => "btn btn-default ceas-button-margin-5 center-block", :type => :reset} %>
        <%= link_to t("common.COMMON_RETURN"), {:action => :show, :course_id => @faq.course}, {:class => "btn btn-default ceas-button-margin-5 center-block"} %>
      </div>
    </div>
  </div>
</div>
<% end %>
