<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :admin_system_usages_summary %>

<!-- スマートフォンタイトル　-->
<h5 class="visible-xs visible-sm">
  <span class="glyphicon glyphicon-th-large" aria-hidden="true" />
  <%= t("access_log.ACC_ACCESSTOTALINFO_TITLE") %>
</h5>

<%= form_tag url_for({:action => :summary}), :method => :get do %>
  <!-- 検索フォーム -->
  <div class="row">
    <div class="col-xs-6">
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-xs-12 col-sm-6 form-inline text-left">
              <label class="control-label">
                <%= t("common.COMMON_SCHOOLYEAR") %>
              </label>
              <%= select_tag :school_year, options_for_select(school_year_list(:none), params[:school_year]), {:class => "form-control"} %>
          </div>

          <div class="col-xs-12 col-sm-6">
            <%= submit_tag t("access_log.ACC_ACCESSTOTALINFO_SUBMIT"), :name => "", :class => "btn btn-default ceas-button-margin-5" %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>

<!-- リスト表示 -->
<% if !params[:school_year].blank? %>
  <!-- 説明文 -->
  <div class="row">
    <div class="col-sm-12">
      <p class="annotation">
        <%= params[:school_year] %><%= t("common.COMMON_SCHOOLYEAR") %>
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN1",
          :param0 => t("common.COMMON_SEASONCD5"), :param1 => l(@term1_start_date), :param2 => l(@term1_end_date)) %>
      </p>
      <p class="annotation">
        <%= params[:school_year] %><%= t("common.COMMON_SCHOOLYEAR") %>
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN1",
          :param0 => t("common.COMMON_SEASONCD6"), :param1 => l(@term2_start_date), :param2 => l(@term2_end_date)) %>
      </p>
      <p class="annotation">
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN2",
          :param0 => l(@term1_start_date), :param1 => l(@term2_end_date)) %>
      </p>
    </div>
  </div>

  <!-- 説明文 -->
  <div class="row">
    <div class="col-sm-12">
      <p class="annotation">
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN3") %>
      </p>
      <p class="annotation">
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN4") %>
      </p>
      <p class="annotation">
        <%= t("access_log.ACC_ACCESSTOTALINFO_EXPLAIN5") %>
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t("access_log.ACC_ACCESSTOTALINFO_RESULT") %>
          </h3>
        </div>
        <div class="panel-body">
          <table width="100%" class="table table-striped table-hover">
            <thead>
              <tr>
                <th rowspan="2"></th>
                <th class="search_result_header" colspan="3">
                  <%= params[:school_year] %>
                  <%= t("common.COMMON_SCHOOLYEAR") %>
                  <%= t("common.COMMON_SEASONCD5") %>
                  <%= t("common.COMMON_SEASON") %>
                </th>
                <th colspan="3">
                  <%= params[:school_year] %>
                  <%= t("common.COMMON_SCHOOLYEAR") %>
                  <%= t("common.COMMON_SEASONCD6") %>
                  <%= t("common.COMMON_SEASON") %>
                </th>
                <th colspan="2">
                  <%= t("access_log.ACC_ACCESSTOTALINFO_ALLTERM") %>
                </th>
              </tr>
              <tr>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_COURSENUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_INSTRUCTORNUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_STUDENTNUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_COURSENUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_INSTRUCTORNUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_STUDENTNUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_INSTRUCTORNUM") %>
                </th>
                <th>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_STUDENTNUM") %>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <%= t("access_log.ACC_ACCESSTOTALINFO_YEARSCOURSE") %>
                </td>
                <td>
                  <%= @term1_subjects.count %>
                </td>
                <td>
                  <%= @term1_instructors.count %>(<%= @term1_parttime_instructors.count %>)
                </td>
                <td>
                  <%= @term1_students.count %>
                </td>
                <td>
                  <%= @term2_subjects.count %>
                </td>
                <td>
                  <%= @term2_instructors.count %>(<%= @term2_parttime_instructors.count %>)
                </td>
                <td>
                  <%= @term2_students.count %>
                </td>
                <td>
                  <%= @whole_instructors.count %>(<%= @whole_parttime_instructors.count %>)
                </td>
                <td>
                  <%= @whole_students.count %>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% end %>
