<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<% breadcrumb :result_questionnaire, @course %>

<!-- スマートフォンタイトル　-->
<%= render :partial => "shared/smartphone", :locals => { title: t("materials_administration.COMMONMATERIALSADMINISTRATION_QUESTIONNAIREADMINISTRATION") } %>

<div class="row">
  <div class="col-xs-12">
    <!-- 「他作業へ」ボタンで作業機能選択をモーダル表示-->
    <div class="pull-right">
      <div class="btn-group">
        <!-- 他の作業ボタン -->
        <%= submit_tag t("common.COMMON_MOVEOTHERPAGE"), class: "btn btn-primary ceas-button-margin-5", data: {toggle: 'modal', target: '.global-navi-modal'} %>
        <!-- 科目選択ボタン -->
        <%= submit_tag t("common.COMMON_COURSECHANGE"), class: "btn btn-primary ceas-button-margin-5",
          data: {toggle: 'modal', target: '.select-course-modal', id: @course.id, controller: controller.controller_name} %>
      </div>
    </div>
  </div>
</div>

<!-- 作業中科目 -->
<%= render :partial => "shared/courses/course_information", :locals => { course: @course } %>

<!-- 説明文 -->
<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-default">
      <div class="panel-body">
        <%= t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_EXPLANATION1") %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- 一括CSVファイル出力 -->
    <div class="pull-right">
      <div class="text-center">
        <div class="btn-group">
          <%= link_to t("common.COMMON_CSVPACKAGEDOUTPUT"), {:action => :bulk_outputcsv, :course_id => @course.id}, :method => :post, class: "btn btn-primary ceas-button-margin-5", :onclick => "if (window.confirm('#{t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_CSV_EXPLANATION1")}\\n#{t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_CSV_EXPLANATION2")}')){$(this).attr('href', '#{url_for(:action => :bulk_outputcsv, :course_id => @course.id)}/user')}else{$(this).attr('href', '#{url_for(:action => :bulk_outputcsv, :course_id => @course.id)}')}" %>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- アンカー -->
<a id="anchor-top"></a>

<!-- テスト一覧 -->
<div class="row">
  <div class="col-xs-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= t("materials_administration.COMMONMATERIALSADMINISTRATION_QUESTIONNAIREADMINISTRATION") %>
        </h3>
      </div>
      <div class="panel-body">
        <% if @questionnaires.count == 0 %>
          <p>
            <%= t("common.COMMON_NOTFOUND") %>
          </p>
        <% else %>
          <table class="table table-striped table-hover">
            <thead>
              <tr>
                <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SUBJECT") %></th>
                <th class="hidden-xs"><%= t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_ENDTIME") %></th>
                <th class="hidden-xs"><%= t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_REPLYSTATE") %></th>
                <th class="hidden-xs"></th>
              </tr>
            </thead>
            <body>
              <% @questionnaires.each.with_index(1) do |questionnaire, index| %>
                <tr>
                  <!-- No. -->
                  <td class="td-bold">
                    <%= index %>
                  </td>
                  <!-- タイトル -->
                  <td class="td-bold">
                    <%= questionnaire.generic_page_title %>
                  </td>
                  <!-- 受付終了時間 -->
                  <td class="td-bold hidden-xs">
                    <%= questionnaire.end_time ? l(questionnaire.end_time) : "" %>
                  </td>
                  <!-- 回答状況 -->
                  <td class="td-bold hidden-xs">
                    <%= t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_REPLYCOUNT", :param0 => questionnaire.answerd_user_count(@course.id), :param1 => @course.course_enrollment_users.count) %>
                  </td>
                  <td class="td-bold">
                    <div class="col-xs-12">
                      <!-- 確認 -->
                      <div class="col-xs-12 col-sm-6">
                        <%= link_to t("common.COMMON_CONFIRM"), {:action => :result, :id => questionnaire}, class: "btn btn-warning ceas-button-margin-5" %>
                      </div>
                      <!-- CSV出力 -->
                      <div class="col-xs-12 col-sm-6">
                        <%= link_to t("common.COMMON_CSVOUTPUT_S"), {:action => :outputcsv, :id => questionnaire}, :method => :post, class: "btn btn-default ceas-button-margin-5", :onclick => "if (window.confirm('#{t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_CSV_EXPLANATION1")}\\n#{t("materials_administration.MAT_ADM_QUE_ADMINISTRATEQUESTIONNAIRE_CSV_EXPLANATION2")}')){$(this).attr('href', '#{url_for(:action => :outputcsv, :id => questionnaire)}/user')}else{$(this).attr('href', '#{url_for(:action => :outputcsv, :id => questionnaire)}')}" %>
                      </div>
                    </div>
                  </td>
                </tr>
              <% end %>
            </body>
          </table>
        <% end %>

        <!-- アンカーボタン -->
        <div class="pull-right">
          <a class="anchor" href="#anchor-top">
            <%= t("common.COMMON_TOP") %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!-- global-navigation modal-->
<div class="modal fade global-navi-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-sm modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h6 class="modal-title"><%= t("common.COMMON_SELECTWORK") %></h6>
    </div>
    <div class="modal-body">
      <%= render :partial => "layouts/nav/work_navi", :locals => {:course_id => @course.id} %>
    </div>
  </div>
</div>

<!-- コース一覧 modal-->
<%= render :partial => "shared/courses/courses_modal", :locals => {:course => @course, :courses => @courses} %>
