<%
# Copyright (c) 2019 Fuyuki Academy
#
# Permission is hereby granted, free of charge, to any person obtaining
# a copy of this software and associated documentation files (the
# "Software"), to deal in the Software without restriction, including
# without limitation the rights to use, copy, modify, merge, publish,
# distribute, sublicense, and/or sell copies of the Software, and to
# permit persons to whom the Software is furnished to do so, subject to
# the following conditions:
#
# The above copyright notice and this permission notice shall be
# included in all copies or substantial portions of the Software.
#
# THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND,
# EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF
# MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND
# NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE
# LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION
# OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION
# WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
%>

<%= javascript_include_tag 'admin/administrateCourse' %>

<% breadcrumb :admin_courses %>

  <!-- 検索／新規作成-->
  <div class="row">
    <%= form_tag url_for({:action => :index}), :method => :get do %>
      <!-- c:if test="${sessionScope.usrPresentation.authCd == 1 && sessionScope.coursewareFlg != 1}" -->
      <% if current_user.admin? %>
        <div class="col-xs-12 col-sm-8">
          <div class="panel panel-default">
            <div class="panel-body">
              <div class="col-xs-12 col-sm-6">
                <%= radio_button_tag :type1, "0", true %> <%= t('common.COMMON_COURSENAME') %>
                <%= radio_button_tag :type1, "1", params[:type1] == "1" %> <%= t('common.COMMON_INSTRUCTORNAME') %>
                <%= radio_button_tag :type1, "2", params[:type1] == "2" %> <%= t('common.COMMON_COURSECD') %>

                <div class="input-group">
                  <%= text_field_tag :keyword, params[:keyword], {:class => "form-control"} %>
                  <span class="input-group-btn">
                    <%= submit_tag t("common.COMMON_SEARCH"), :name => "", :class => "btn btn-default" %>
                  </span>
                </div>
              </div>

              <div class="col-xs-12 col-sm-6">
                <%= t("admin.course.PRI_ADM_COU_ADMINSEARCHCOURSE_SEARCHEXPLANATION") %>
                <div class="input-group">
                  <div class="col-xs-3">
                    <%= t("common.COMMON_DAY") %>
                    <%= select_tag :day, options_for_select(day_list, params[:day]), {:class => "selectDay"} %>
                  </div>
                  <div class="col-xs-3">
                    <%= t("common.COMMON_HOUR") %>
                    <%= select_tag :hour, options_for_select(hour_list, params[:hour]), {:class => "selectHour"} %>
                  </div>
                  <div class="col-xs-3">
                    <%= t("common.COMMON_SCHOOLYEAR") %>
                    <%= select_tag :school_year, options_for_select(school_year_list, params[:school_year]), {:class => "selectYear"} %>
                  </div>
                  <div class="col-xs-3">
                    <%= t("common.COMMON_SEASON") %>
                    <%= select_tag :season, options_for_select(season_list, params[:season]), {:class => "selectSeason"} %>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <!-- 新規作成 -->
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <%= link_to t("common.COMMON_NEW"), {:action => :new}, {class: "btn btn-primary"} %>
          <p>
            <%= t('admin.course.PRI_ADM_COU_SEARCHCOURSE_REGISTEREXPLANATION') %>
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- 削除対象ユーザCSVボタン -->
  <div class="row">
    <div class="col-xs-12">
      <!-- 「他作業へ」ボタンで作業機能選択をモーダル表示-->
      <div class="pull-right">
        <div class="btn-group">
          <%= link_to t("admin.course.PRI_ADM_COU_COURSEBATCHUPDATE"), {:action => :bulk_update_search}, {:method => :get, class: "btn btn-default ceas-button-margin-5"} %>
          <%= link_to t("admin.course.PRI_ADM_COU_COURSEBATCHDELETE_BATCHDELETIONCOURSE"), {:action => :bulk_delete_search}, {class: "btn btn-danger ceas-button-margin-5"} %>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12">
      <div class="pull-right">
        <%= link_to t("common.COMMON_CSVOUTPUT"), {:action => :outputcsv}, {:method => :post, class: "btn btn-default ceas-button-margin-5"} %>
      </div>
    </div>
    <div class="col-xs-12">
      <div class="pull-right">
        <%= t('admin.course.PRI_ADM_COU_SEARCHCOURSE_CSVEXPLANATION') %>
      </div>
    </div>
  </div>

  <!-- 説明文 -->
  <div class="row">
    <div class="col-sm-12">
      <p class="annotation">
        <%= t('admin.course.PRI_ADM_COU_ADMINSEARCHCOURSE_DELETBYINSTRUCTOREPLANATION') %>
      </p>
    </div>
  </div>

  <!-- アンカー -->
  <a id="anchor-top"></a>

  <!-- 科目表示テーブル -->
  <%= form_tag url_for(:action => "destroy"), {:class => "form-horizontal", :method => "delete"} do %>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t('common.COMMON_COURSETABLEALT') %>
            <span class="badge pull-right"><%= t('common.COMMON_HITCOURSE', :param0 => @courses.total_count.to_s(:delimited)) %></span>
          </h3>
        </div>
        <div class="panel-body">

          <% if @courses == 0 %>
            <p>
            <%= t('common.COMMON_NOTFOUND') %>
            </p>
          <% else %>

            <!-- 正課科目の場合 -->
            <table id="selectCourse:courseAdministration" class="table table-striped table-hover">
              <tr>
                <th class="hidden-xs"><%= t("common.COMMON_NO1") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_DELETE") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_CONFIRMREVISE") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_DAY") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_HOUR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SCHOOLYEAR") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_SEASON") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_COURSENAME") %></th>
                <th class="hidden-xs"><%= t("common.COMMON_INSTRUCTOR") %></th>
                <th class="hidden-xs"><%= t("admin.course.PRI_ADM_COU_SEARCHCOURSE_ENROLLMENTLIST") %></th>
              </tr>
              <% @courses.each.with_index(1) do |course, index| %>
                <tr>
                  <td><%= index %></td>
                  <td><%= check_box_tag "course[#{course.id}]", course.id, false, {} %></td>
                  <td><%= link_to t("common.COMMON_CONFIRM"), {:action => :edit, :id => course.id}, {:class => "btn btn-warning ceas-button-margin-5"} %></td>
                  <!-- 曜日 -->
                  <td class="td-nowrap"><%= convert_day_cd(course.day_cd) %></td>
                  <!-- 時限 -->
                  <td class="td-nowrap"><%= convert_hour_cd(course.hour_cd) %></td>
                  <!-- 年度 -->
                  <td class="td-nowrap"><%= course.school_year %></td>
                  <!-- 学期 -->
                  <td class="td-nowrap"><%= convert_season_cd(course.season_cd) %></td>
                  <!-- 科目名称 -->
                  <td><%= course.course_name %></td>
                  <!-- 担任者 -->
                  <td class="td-nowrap"><%= course.instructor_name %></td>
                  <td>
                    <%= link_to url_for(:action => :outputcsv_enrollment, :id => course.id), {:method => :post, :class => "btn btn-default ceas-button-margin-5"} do %>
                      <span class="hidden-xs"><%= t("common.COMMON_CSVOUTPUT") %></span>
                      <span class="visible-xs"><%= t("common.COMMON_CSVOUTPUT_S") %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </table>

            <!-- 改ページボタン -->
            <div class="pull-right">
              <%= paginate(@courses) %>
            </div>
          <% end %>
        </div>
      </div>

      <!-- アンカーボタン -->
      <div class="pull-right">
        <a class="anchor" href="#anchor-top">
          <%= t("common.COMMON_TOP") %>
        </a>
      </div>

      <div class="text-center">
        <div class="btn-group">
          <%= link_to t("common.COMMON_ALLCHECK"), "javascript:void();",
            :data => {:target => :course, :on_title => t("common.COMMON_ALLCHECK"), :off_title => t("common.COMMON_ALLCLEAR")},
            class: "btn btn-default ceas-button-margin-5 center-block check_selector" %>
          <%= link_to t("common.COMMON_DELETE"), "javascript:void();",
            :data => {:target => :course, :msg_confirm => t("admin.course.PRI_ADM_COU_ADMINSEARCHCOURSE_DELETBYINSTRUCTOREPLANATION"), :msg_not_checked => t("common.COMMON_SELECTDELETEOBJECT")},
            class: "btn btn-danger ceas-button-margin-5 center-block multi_delete" %>
        </div>
      </div>
    </div>
  </div>
  <% end %>
